.account-manage-wrapper {
    margin: 0 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    padding: 31px 16px 10px 38px;
}

.account-manage-list-tab {
    display: flex;
    align-items: center;
    gap: 57px;
    border-bottom: 1px solid #D9D9D9;
}

.item-tab {
    padding-bottom: 14px;
    padding-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    position: relative;
}

.tab-active {
    color: #EE0033;
    font-size: 20px;
    border-bottom: 5px;
}

.tab-inactive {
    display: none !important;
}

.img-active {
    display: none;
}

.img-inactive {
    display: inline;
    width: 24px;
}

.tab-active .img-active {
    display: inline;
    width: 24px;
}

.tab-active .img-inactive {
    display: none;
}

.border-active {
    display: none;
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background-color: #EE0033;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

.tab-active .border-active {
    display: block;
}

.account-manage-content {
    margin-top: 25px;
}

.account-manage-content-description {
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.flex-height {
    flex-grow: 1;
    height: 3rem;
}

.product-discount {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 18px;
    background-color: #aaa;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0rem;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 3px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #333333;
    /*border-color: #ffffff #ffffff #ec1b2e;*/
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #ec1b2e;
    background-color: rgb(255 255 255 / 15%);
    border-color: #ffffff #ffffff #C0C0C0;
}
.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ec1b2e;
    background-color: rgb(255 255 255 / 15%);
    border-color: #ffffff #ffffff #ec1b2e;
}
.square-item {
    aspect-ratio: 1 / 1;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

/*.zoom:hover {*/
/*-ms-transform: scale(2); !* IE 9 *!*/
/*-webkit-transform: scale(2); !* Safari 3-8 *!*/
/*transform: scale(2);*/
/*z-index: auto;*/
/*}*/

.text-red {
    color: #EA0029;
}

.text-button-red {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #EA0033;
}

.background-red {
    background-color: #EA0033;
}

.title-section {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #44494D;
}

.title-section-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: #44494D;
}

.title-section-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #44494D;
}

.title-section-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #44494D;
}

.footer-text-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-text-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-text-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.footer-text-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #B1B1B1;
}

.input-form {
    background: #FFFFFF;
    border: 0.5px solid #C0C0C0;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .m-t-5 {
        margin-top: 0;
    }
    .m-t-4 {
        margin-top: 0;
    }
    .m-t-3 {
        margin-top: 0;
    }
    .m-b-4 {
        margin-bottom: 0;
    }
    .m-b-3 {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .m-t-5 {
        margin-top: 2.5rem !important;
    }
    .m-t-4 {
        margin-top: 1.5rem !important;
    }
    .m-t-3 {
        margin-top: 1rem !important;
    }
    .m-b-4 {
        margin-bottom: 1.5rem !important;
    }
    .m-b-3 {
        margin-bottom: 0.5rem !important;
    }
}

.btn-telco {
    width: 180px;
    height: 42px;
    border-radius: 8px 8px 8px 0px;
    border-color: #EA0033;
}

.container-1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-1 {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container-1 {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container-1 {
        max-width: 992px;
    }
}
@media (min-width: 1200px) {
    .container-1 {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container-1 {
        max-width: 1800px;
    }
}

.navbar-container {
    padding-left: 0;
}
.navbar-toggler {
    background-color: #EA0033;
}

@media (max-width: 1200px) {
    .nav-item-hide {
        display: none;
    }
    .navbar-collapse .navbar-toggler span {
        background: #ffffff;
    }
}

.select2-results__option {
    color: white;
}
.select2-dropdown {
    background-color: #000000;
}
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: #ee0033;
    color: white;
}
