@import vn.m2m.common.models.User
@(currentUser: User, userId: String)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Messages("history.deposit.title")</title>
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/logo.jpg")" />

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    @views.html.iot.tags.Main_css()

    <link href="@routes.Assets.versioned("stylesheets/views/modal-right.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("assets/plugins/input-tags/css/tagsinput.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/fonts/roboto.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css")" rel="stylesheet" >
    <link href="@routes.Assets.versioned("stylesheets/views/telco/telco.css")" rel="stylesheet" />
</head>

<body class="bg-theme">
    @views.html.telco.Menu(currentUser, "", userId)
    @views.html.telco.Header(currentUser)

    <div class="page-wrapper">
        <div class="page-content">
            @views.html.telco.history.HistoryDeposit_formSearch(currentUser)

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" style="border-radius: 8px;">
                        <table class="table table-striped" id="listHistoryDepositTable" style="width: 100%;">
                            <thead style="background-color: #FBCCD6;">
                                <tr>
                                    <th>@Messages("manage.stt")</th>
                                    <th>@Messages("history.deposit.order.id")</th>
                                    <th>@Messages("history.deposit.subscriber.number")</th>
                                    <th>@Messages("history.deposit.action")</th>
                                    <th>@Messages("history.deposit.amount")</th>
                                    <th>@Messages("history.deposit.total.amount")</th>
                                    <th>@Messages("history.deposit.status")</th>
                                    <th>@Messages("history.deposit.description")</th>
                                    <th>@Messages("history.deposit.time")</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <h5 id="notiNotDataHistory" style="text-align: center;"></h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-3">
                            <p class="mb-0">@Messages("Total") <span id="total_record">0</span> @Messages("entries")</p>
                        </div>
                        <div class="col-md-8 d-flex flex-column flex-md-row justify-content-end align-items-center gap-2 gap-md-3 mb-3">
                            <div class="dropdown mb-2 mb-md-0">
                                <button class="btn btn-sm dropdown-toggle btn-outline-dark" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" id="countPageSize" style="margin-left: 5px;">
                                    10
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:ApplyFilter(1,10,true)">10</a></li>
                                    <li><a class="dropdown-item" href="javascript:ApplyFilter(1,50,true)">50</a></li>
                                    <li><a class="dropdown-item" href="javascript:ApplyFilter(1,100,true)">100</a></li>
                                    <li><a class="dropdown-item" href="javascript:ApplyFilter(1,200,true)">200</a></li>
                                    <li><a class="dropdown-item" href="javascript:ApplyFilter(1,500,true)">500</a></li>
                                </ul>
                            </div>
                            <p class="mb-2 mb-md-0">@Messages("history.records.per.page")</p>
                            <div id="pagingTable" class="justify-content-md-end"></div>
                        </div>

                    </div>
                    <div>
                        <input type="hidden" name="page" id="page" value="1" />
                        <input type="hidden" name="pageSize" id="pageSize" value="10" />
                        <input type="hidden" name="isResetPage" id="isResetPage" value="false" />
                    </div>
                </div>
            </div>
        </div>

        @views.html.telco.Loading()
    </div>

    @views.html.telco.mainJs()

    <script src="@routes.Assets.versioned("assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js")"></script>
    <script src="@routes.Assets.versioned("assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/exportfile/table3export.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/views/telco/history/History_deposit.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/views/telco/history/History_deposit_export.js")" type="text/javascript"></script>
    <script>
        var userId = '@userId';
        var actionCode = "10";
    </script>
</body>
</html>
