@media (max-width: 768px) {
    .infowindow-main {
        width: 380px;
        top: 140px;
    }
    .infowindow-header {
        width: 380px;
    }
    .infowindow-inner1 {
        width: 110px;
    }
    .infowindow-img {
        width: 100px;
        height: 90px;
    }
    .infowindow-inner2 {
        left: 130px;
    }
    .infowindow-devider0 {
        width: 111px;
    }
    .infowindow-devider1 {
        width: 111px;
    }
    .infowindow-devider3 {
        width: 111px;
    }

    .infowindow-devider2 {
        width: 111px;
    }
    .infowindow-devider4 {
        width: 111px;
    }
    .infowindow-devider5 {
        width: 111px;
    }
    .infowindow-devider6 {
        width: 111px;
    }

    .infowindow-redarea {
        width: 245px;
    }

    .sidebar-wrapper-2 {
        top: 70px;
    }
}
@media (min-width: 769px) {
    .infowindow-main {
        width: 420px;
    }
    .infowindow-header {
        width: 420px;
    }
    .infowindow-inner1 {
        width: 120px;
    }
    .infowindow-img {
        width: 110px;
        height: 100px;
    }
    .infowindow-inner2 {
        left: 130px;
    }
    .infowindow-devider0 {
        width: 131px;
    }
    .infowindow-devider1 {
        width: 131px;
    }
    .infowindow-devider3 {
        width: 131px;
    }

    .infowindow-devider2 {
        width: 121px;
    }
    .infowindow-devider4 {
        width: 121px;
    }
    .infowindow-devider5 {
        width: 131px;
    }
    .infowindow-devider6 {
        width: 121px;
    }

    .infowindow-redarea {
        width: 275px;
    }

    .sidebar-wrapper-2 {
        top: 5px;
    }
}
.infowindow-main {
    /*width: 410px;*/
    height: 280px;
    background-color: #ffffff;
    border-radius: 7px;
    position: absolute;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
    top: 200px;
    left: 100px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-property: top,left,height;
    -webkit-transition-property: top,left,height;
    font-size: 11px;
    font-family: 'Open Sans', 'Droid Sans', sans-serif;
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
.infowindow-header {
    position: absolute;
    /*width:  410px;*/
    height: 37px;
    background-color: #EC1B2E;
}

.infowindow-closes {
    line-height: 32px;
    text-align: center;
    font-size: 11px;
    width: 26px;
    height: 26px;
    position: absolute;
    background-color: transparent;
    top: 7px;
    right: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    color: rgba(136, 78, 155, 1);
    cursor: pointer;
    opacity: 1;

}

.infowindow-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    /*text-shadow: 0 1px 0 #fff;*/
    /*filter: alpha(opacity=20);*/
    /*opacity: .2;*/
}

.infowindow-port_button {
    line-height: 32px;
    text-align: center;
    width: 26px;
    height: 26px;
    position: absolute;
    background-color: rgba(236, 218, 42, 0.76);
    font-size: 8px !important;
    top: 7px;
    right: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    color: rgba(136, 78, 155, 1);
    cursor: pointer;
}

.infowindow-title {
    position: absolute;
    left: 13px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.infowindow-inner1 {
    position: absolute;
    left: 5px;
    top: 40px;
    /*width: 110px;*/
    bottom: 5px;
    background-color: transparent;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.infowindow-first {
    position: absolute;
    /*left: 5px;*/
    top: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
}
.infowindow-second {
    bottom: 5px;
    position: absolute;
    font-weight: normal;
    font-style: normal;
    margin-right: 10px;
    width: 100%;
}

.infowindow-img {
    /*width: 110px;*/
    /*height: 100px;*/
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border-color: #36BFC1;
}

.info_track_more {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}




.infowindow-inner2 {
    position: absolute;
    /*left: 130px;*/
    top: 40px;
    right: 5px;
    bottom: 5px;
    background-color: #EDEEEF;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    overflow: hidden;
}

.infowindow-devider0 {
    /*width: 121px;*/
    float: left;
    margin: 5px;
    line-height: 15px;
    border-right: 1px #ffffff dashed;
}
.infowindow-devider1 {
    /*width: 121px;*/
    float: left;
    margin: 5px;
    line-height: 15px;
    /*border-right: 1px #ffffff dashed;*/
}
.infowindow-devider2 {
    /*width: 111px;*/
    float: left;
    margin: 5px;
    line-height: 15px;
}

.infowindow-redarea {
    float: left;
    /*width: 255px;*/
    border-top: 1px #ffffff dashed;

}
.infowindow-mtitle {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.infowindow-mdesc {
    width: 127px;
    /*white-space: normal;*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: darkgrey;

    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

#mInfo_Status.change-running{
    color : #30BEC0;
}
#mInfo_Status.change-parking{
    color : blue;
}
#mInfo_Status.change-gps-lost{
    color : #E27B26;
}
#mInfo_Status.change-signal-lost{
    color : darkgrey;
}
#mInfo_Status.change-alarm{
    color : #c70202;
}

/*-------------*/
.fa-2x {
    font-size: 2em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#myTableExcel>tbody >tr >td {
    max-width: 150px;
    overflow-x: auto;
}

/*.gm-style-iw > button {*/
    /*display: none !important;*/
/*}*/

hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.infwin-key {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

/* Scroll 4 */
.sc4::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.sc4::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.sc4::-webkit-scrollbar-thumb {
    background-color: #f0394a;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
}