
/*.navbar{*/
/*@import "/assets/stylesheets/getshitdone/material-kit.css";*/
/*}*/

@media (min-width: 1024px) {
    #map-canvas {
        height : calc(100vh - 60px);
        width: calc(100% - 250px);
        padding : 0 ;
    }
}
@media (max-width: 1024px) {
    .information {
        display: none;
    }
    #map-canvas {
        height : calc(100vh - 60px);
        width: 100%;
        padding : 0 ;
    }
}
.border3d{
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 0 0 20px;
    width: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.mkid-toolbar {
    background: #36AFEC;
    background: -moz-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D7CE7), color-stop(100%, #36AFEC));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #2D7CE7 0%, #36AFEC 100%);
    /* W3C */
    background-size: 250% 250%;
}
.alert-offline {
    background-color: #b2acad ;
}
.gm-style .gm-style-iw {
    font-weight : 400 ;
    color : #2E2E2E ;
}
.gm-style-iw{
    text-align: center;
}
.card-background{
    text-shadow: none;
}
.gm-style-iw a {
    color: #0038C5;
}
.gm-style-iw a:hover, .gm-style-iw a:focus {
    color : blue ;
    text-decoration : underline ;
}
.landing-page{
    overflow: hidden;
}


#page-content-wrapper{
    padding :0px;
    height: 100%;
}
.left-panel {
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 425px;
    position: relative;
    z-index: 2;
    background: #fff;
    left: 0;
    top: 0;
    border-right: 1px solid #c0c0c0;
    padding: 0 10px;
}

.right-panel {
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 340px;
    position: absolute;
    z-index: 1;
    /*background: #fff;*/
    right: 1px;
    border-right: 1px solid #c0c0c0;
    padding: 0 10px;
}
@media (max-width: 768px) {
    .right-panel {
        top:75px;
    }
}
@media (min-width: 769px) {
    .right-panel {
        top:5px;
    }
}

.left-panel-2 {
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 200px;
    position: absolute;
    z-index: 1;
    /*background: #fff;*/
    /*left: 0px;*/
    /*top: 0;*/
    border-right: 1px solid #c0c0c0;
    padding: 0 2px;
    overflow: hidden;
}

/*#scroll-area-position{
    height: 470px;
    border : 1px solid #9c27b0;
    border-radius: 5px;
    overflow-y: scroll;
    padding:0px;
}*/



.scroll-area-item {
    padding: 10px 10px;
    border-bottom: 1px solid #b1bdee;
}

.scroll-area-item:hover {
    background-color: navajowhite;
    cursor: pointer;
}

@media (min-width: 335px) {

    .timepicker .input-group-addon {
        padding: 6px 3px;
    }
    .timepicker input#hourFrom, .timepicker input#hourTo{
        padding-left: 5px;
        padding-right: 0px;
    }
    .form-group-hourFrom{
        padding-right: 0px;
    }
    .form-group-hourTo{
        padding-left: 0px;
    }
}



/*.sleep-item{*/
/*color: #565555*/
/*}*/
/*.parking-item{*/
/*color:#002FF1*/
/*}*/
/*.stop-item{*/
/*color: #E47900*/
/*}*/
/*.run-item{*/
/*color: #079E0F;*/
/*}*/
/*.lbs-item{*/
/*color: #F10000;*/
/*}*/
/*.lostGPRS-item{*/
/*color: #F10000;*/
/*}*/


#faClass{
    padding-left: 5px;
    font-size: 16px;
}
.control-div-header:hover{
    color: #002FF1;
}
.control-div{
    margin-bottom: 10px;
    padding: 0px;
    border-bottom: 1px solid #B5B5B5;
}
.control-div-body-close{
    height: 0px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transition-property: height,visibility,opacity;
}
.control-div-body-open{
    height: 120px;
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transition-property: height,visibility,opacity;
}
.control-div-header{
    padding: 0px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #B5B5B5;
}
.control-div-header:hover{
    cursor: pointer;
}
#control-body{
    padding: 0px;
}
#control-body button{
    min-width: 90px;
}
#control-body .col-md-12{
    margin-top: 10px;
    display: flex;
    padding: 0px;
}
#control-body .label-text{
    font-size: 16px;
    padding: 0px;
    align-self: center;
}
#config-body{
    padding: 0px;
}
#config-body .col-md-12{
    margin-top: 10px;
    display: flex;
    padding: 0px;
}
#config-body .label-text{
    font-size: 16px;
    padding: 0px;
    align-self: center;
}
label{
    margin: 0px;
}

.config-div-header{
    padding: 0px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #B5B5B5;
}

#timeFromTo .bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
}


#sidebar-wrapper .input-group-addon:hover{
    cursor: pointer;
}

#sidebar-wrapper{
    padding: 0;
    overflow-y: hidden;
    height: calc(100vh - 75px);
    width: 97%;
    max-width: 425px;
}

.scroll-area-title{
    width: 100%;
    float: left;
}
.scroll-area-title .col-md-6, .button-area .col-md-6 {
    width: 50%;
    float: left;
}
.button-area ,.button-search{
    width: 100%;
    float: left;
}


/*Processing*/
.spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 80px;
    height: 70px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #1f3cd5;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}


#proccesing-area {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999;
    -moz-opacity: 0.8;
    opacity: 0.8;
    background-color: #b1bdee;

    /*background-color: #9c27b0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
}
@media (max-width: 767px) {
    #scroll-area-position {
        height: calc(100vh - 520px);
    }
    #wrapper {
        height: calc(100% - 60px);
    }
}
#wrapper{
    position: relative;
    height: calc(100vh - 75px);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.panel-heading {
    padding: 3px;
    border-bottom: 1px solid #F1EDEB;
    background-color: #EC1B2E;
}
.panel-body {
    padding: 3px;
}

.btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open > .btn-primary.btn-fill.dropdown-toggle {
    background-color: #E27A13;
    color: #FFFFFF;
}

.btn-primary.btn-fill:hover{
    background-color: #30BEC0;
}


.btn-primary.btn-fill {
    color: gray;
    background-color: #F1EDEB;
    opacity: 1;
}
.slider-info .ui-widget-header {
    background-color: #E27A13 !important;
}
.slider-info .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f1f1f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f2));
    background: -webkit-linear-gradient(top, white 0%, #f1f1f2 100%);
    background: -o-linear-gradient(top, white 0%, #f1f1f2 100%);
    background: -ms-linear-gradient(top, white 0%, #f1f1f2 100%);
    background: linear-gradient(to bottom, #E27A13 0%, #E27A13 100%) !important;
}

.btnControlHistory{
    padding: 7px 0 !important;
}

.btnExcelExport{
    float: right;
    width: 18%;
    border: 0;
    font-size: 16px;
    padding: 8px 0;
    background-color: transparent;
    font-weight: 400;
    opacity: 0.8;
}

#scroll-area-position {
    /* border: 1px solid #1f3cd5; */
    border-radius: 0px 0px 5px 5px;
    overflow-y: scroll;
    padding: 0px;
    height: calc(100vh - 400px);
    min-height: 100px;
}

.dropdown-menu > li:first-child > a {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 301px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

/**************************/
/*DropDown Height correction*/
.dropdown-menu {
    height: auto;
    top: -40px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 12px;
    opacity: 0;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 13px 0;
    top: 1px;
    opacity: 0.5
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
    opacity: 1
}
.vertical-align {
    display: flex;
    align-items: center;
}

table {
    width:auto;
}

th {
    white-space:nowrap;
}

th:last-child {
    width:100%;
}

.overlay-map, .nav-overlay {
    position: absolute;
    z-index: 69;
}

.nav-overlay {
    width: 100%;
    top: 0px;
    left: 0px;
    height: 12vh;
}

.overlay-map {
    max-width: 64vw;
    height: 99vh;
    top: 10px;
}

.sidebar-content {
    border-color: #FFFFFF;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*loading*/
@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em
}
.visually-hidden,
.visually-hidden-focusable:not(:focus) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    white-space: nowrap!important;
    border: 0!important
}

#alarm-region div:nth-child(even) {
    background-color: #eeeeee;
}

#alarm-region div:nth-child(odd) {
    background-color: #ffffff;
}
