<div class="col-lg-9 col-md-8 mt-3" id="tabConnectHaveSim_pay">
  <div class="row">
    <div class="col-md-12 m-t-4">
      <span class="display-4 title-section-1">@Messages("1. Xác nhận đấu nối")</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 m-t-3">
          <div class="row m-b-3">
            <label class="col-sm-8 col-form-label title-section-2" style="text-align: left" id="confirmNamePack">@Messages("Gói cước: ")</label>
          </div>
          <div class="row m-b-4" id="comfirmTableTotalMoney">

          </div>
          <div class="row" id="comfirmTableTotalMoney">
            <div class="col-sm-1" style="text-align: right;">
              <label class="col-sm-1 col-form-label title-section-2">
                <input class="form-check-input" type="checkbox" onchange="checkboxDksd(this)">
              </label>
            </div>
            <label class="col-sm-11 col-form-label title-section-2" style="text-align: left">
            @Messages("Đồng ý cho phép Viettel sử dụng thông tin của khách hàng để:")
            </label>
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <ul style="text-align: left;">
                <li>@Messages("Cung cấp dịch vụ khác của Viettel phát sinh sau thời điểm hòa mạng và/hoặc các dịch vụ Viettel hợp tác với đối tác")</li>
                <li>@Messages("Tổ chức giới thiệu và xúc tiến thương mại")</li>
                <li>@Messages("Nghiên cứu thị trường, thăm dò dư luận, môi giới")</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>