#proccesing-area {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999;
    -moz-opacity: 0.8;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, .15);
}
/*Processing*/
.spinner {
    top: 45%;
    left: 50%;
    position: absolute;
    width: 80px;
    height: 70px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #EE0033;
    height: 100%;
    width: 10px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 0.6s infinite ease-in-out;
    animation: sk-stretchdelay 0.6s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -0.55s;
    animation-delay: -0.55s;
}

.spinner .rect3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}