<div class="modal fade" id="unregisterMiAddonModal" data-bs-backdrop="static"  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h6 class="modal-title">@Messages("Huỷ gói MI, Add-on")</h6>
      </div>
      <div class="modal-body text-darker">
        <div class="" id="tableUnregisterMiAddon"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancle" data-bs-dismiss="modal">@Messages("btnCancel")</button>
        <button type="button" class="btn btn-red" onclick="comfirmUnregisterMiAddon()">@Messages("btnComfirm")</button>
      </div>
    </div>
  </div>
</div>