<div class="modal fade" id="editQrConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="theme14">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("qr.edit")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label text-white">@Messages("qr.id")</label>
                        <input id="idQrEdit" type="text" class="form-control" maxlength="50" autocomplete="off" readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label text-white">@Messages("qr.Name")</label>
                        <input id="nameQrEdit" type="text" class="form-control" maxlength="50" autocomplete="off" required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label text-white">@Messages("qr.LinkAndroid")</label>
                        <input id="androidQrEdit" type="text" class="form-control" maxlength="500" autocomplete="off" required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label text-white">@Messages("qr.LinkIos")</label>
                        <input id="iosQrEdit" type="text" class="form-control" maxlength="500" autocomplete="off" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="postEditQr()" data-bs-dismiss="modal">@Messages("btnSave")</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">@Messages("btnClose")</button>
            </div>
        </div>
    </div>
</div>