<div class="accordion-body">
  <div class="card-header-primary card-header-icon">
    <div class="toolbar" style="float: left">
      <button class="btn btn-title">
      @Messages("Mở chặn 1 chiều thuê bao")
      </button>
    </div>
    <div class="toolbar" style="float: right">
      <button class="btn px-4 button-light" id="buttonImportOpenSubs" data-bs-toggle="modal" data-bs-target="#importOpenSubsModal">
      @Messages("Tải danh sách TB")
      </button>
      <button class="btn px-4 button-light" id="buttonProcessOpenSubs1" onclick="showComfirmOpenSubsModal(1)">
      @Messages("Mở 1 chiều")
      </button>
      <button class="btn px-4 button-light" id="buttonImportOpenSubs" onclick="exportResultListSubsOpen()">
      @Messages("Export")
      </button>
    </div>
  </div>
  <div class="card-body mt-3" style="padding-right: 0px;">
    <div class="" id="dataImportOpenSubs" style="float: left; width: 100%;">

    </div>
  </div>
</div>