<div class="modal fade" id="comfirmRegisterMiAddonModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h6 class="modal-title">@Messages("Đăng ký gói MI, Add-on")</h6>
      </div>
      <div class="modal-body text-darker">
        <h6 id="textComfirmRegisterMiAddon">@Messages("Bạn có chắc chắn muốn thực hiện đăng kí gói MI, Add-on?")</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red" data-bs-dismiss="modal" onclick="processRegisterMiAddon(0)">@Messages("btnComfirm")</button>
        <button type="button" class="btn btn-cancle" data-bs-dismiss="modal">@Messages("btnCancel")</button>
      </div>
    </div>
  </div>
</div>