<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h4 class="modal-title">@Messages("Thông báo")</h4>
        <img src="@routes.Assets.versioned("images/telco/successIcon.png")" alt="..." style="width: 56px; height: 56px;" class="card-img mt-3"><br>
        <div class="mt-4">
          <span class="modal-body text-darker align-items-center noti1" id="textNofitication1"></span><br>
          <span class="modal-body text-darker align-items-center noti2" id="textNofitication2"></span><br>
        </div>

        <button type="button" class="btn btn-cancle mt-3" data-bs-dismiss="modal">@Messages("btnClose")</button>
      </div>
    </div>
  </div>
</div>