<div class="modal fade" id="downloadVtagModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: inherit;">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: #000000;">@Messages("Tải ứng dụng IOS / Android ")</h5>
        <i class="bx bx-x btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 20px; cursor: pointer;"></i>
      </div>
      <div class="modal-body" style="padding: 25px 25px 0px 25px;">
        <p style="font-weight: 700;font-size: 36px;line-height: 44px;letter-spacing: 1px;color: #EE0033;">@Messages("vTag Viettel - Thiết bị định vị thông minh")</p>
        <p>@Messages("- Định vị thông minh vTag là thiết bị sử dụng công nghệ NB-IoT có hỗ trợ định vị 3 trong 1 (GPS, Wifi, Mobile Cell) để phát hiện chuyển động và gửi thông tin vị trí của đối tượng sử dụng.")</p>
        <p>@Messages("- vTag giúp chúng ta đễ dàng quản lý, theo dõi vị trí của trẻ em, người già, thú cưng, đồ vật và xe cộ. Với nhiều chức năng khác nhau, phù hợp với nhiều đối tượng khác nhau.")</p>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 mt-3">
                <img src="@routes.Assets.versioned("images/landingPage/downloadSmh1.png")">
              </div>
              <div class="col-md-6 mt-3">
                <img src="@routes.Assets.versioned("images/landingPage/downloadSmh2.png")">
              </div>
              <div class="col-md-12 mt-3">
              @Messages("Hoặc quét QR")
              </div>
              <div class="col-md-6 mt-3">
                <img src="@routes.Assets.versioned("images/landingPage/downloadVtag1.svg")">
                <p>@Messages("Download  bản IOS")</p>
              </div>
              <div class="col-md-6 mt-3">
                <img src="@routes.Assets.versioned("images/landingPage/downloadVtag2.svg")">
                <p>@Messages("Download  bản Android")</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img src="@routes.Assets.versioned("images/landingPage/downloadVtag1.png")" width="100%">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>