<div class="section features-1" id="divGiaiPhap">
  <div class="container">
    <div class="col-md-12 mx-auto text-center">
      <h3 class="display-3 title-section-1">@Messages("Giải pháp cho mọi dự án IoT")</h3>
      <hr style="border-top: 4px solid red; width: 84px; margin-top: 1rem;">
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon001.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Telco Management")</h4>
            <p class="mt-3">@Messages("Hỗ trợ quản lý kết nối, quản lý SIM (CMP). Đa dạng hình thức tính cước.")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon002.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Microservices")</h4>
            <p class="mt-3">@Messages("Kiến trúc microservices giúp chuyển đổi quy mô linh hoạt")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon003.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Cloud Platform")</h4>
            <p class="mt-3">@Messages("Tùy chọn lưu trữ tại chỗ (on-premise) và đám mây (on-cloud)")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon004.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("IoT Dashboards")</h4>
            <p class="mt-3">@Messages("Giao diện thống kê (dashboards) trực quan, đa dạng")</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon005.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("IoT Flow Engine")</h4>
            <p class="mt-3">@Messages("Giao diện lập trình kéo thả (graphic-based programming)")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon006.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Device Management")</h4>
            <p class="mt-3">@Messages("Kết nối, quản lý và mở rộng quy mô nhóm thiết bị của bạn một cách dễ dàng và đáng tin cậy.")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon007.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Alarms Management")</h4>
            <p class="mt-3">@Messages("Cung cấp khả năng tạo và quản lý các cảnh báo liên quan đến các thực thể của dự án: thiết bị, tài sản,...")</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="card card-blue text-center card-listProject">
          <div class="alignItemCenter mt-3">
            <img src="@routes.Assets.versioned("images/landingPage/icon008.png")" width="" class="align-items-center">
          </div>
          <div class="text mt-3">
            <h4 class="gp-title-1">@Messages("Security")</h4>
            <p class="mt-3">@Messages("Bảo mật kết nối thiết bị và dữ liệu bằng cách xác thực hai chiều và mã hóa đầu cuối.")</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>