<div class="modal fade" id="playVideoConfirm" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: inherit;">
        <h5 class="modal-title" id="exampleModalLabel">@Messages("Video hướng dẫn tích hợp")</h5>
        @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>*@
        <i class="bx bx-x btn-close" data-bs-dismiss="modal" id="stopVideo" aria-label="Close" style="font-size: 20px; cursor: pointer;"></i>
      </div>
      <div class="modal-body" style="padding: 0;">
        <iframe id="myVideo" width="100%" height="456" src="https://www.youtube.com/embed/KvNhWGB5nuk?rel=1&amp;controls=1&amp;showinfo=0&amp;start=1&autoplay=0&enablejsapi=1"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>