<div class="section features-1" id="divUseCase">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="usecase1">
          <div class="usecase1-menu">
            <img src="@routes.Assets.versioned("images/landingPage/usecase1.png")" width="80%">
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("Nền tảng IoT InnoWay hỗ trợ nhiều giải pháp IoT mạnh mẽ, có thể mở rộng và thân thiện với người dùng. Flow Engine dễ dàng xây dựng luồng xử lý logic.")</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="usecase">
          <div class="usecase-menu">
            <span class="usecase-title"><img src="@routes.Assets.versioned("images/landingPage/usecase2.png")" width=""> &nbsp;@Messages("Nhà thông minh")</span>
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("• Điều khiển các thiết bị điện trong nhà từ xa qua các công nghệ IR, Wifi, Zigbee. ")</p>
            <p class="mt-3">@Messages("• Giám sát tất cả chuyển động, thay đổi về trạng thái hoạt động của từng thiết bị điện.")</p>
            <p class="mt-3">@Messages("• Hỗ trợ các ngữ cảnh thông minh được đặt theo giờ hoặc theo ngoại cảnh để người sử dụng có trải nghiệm và sức khỏe tinh thần tốt nhất trong căn nhà của mình.")</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="usecase">
          <div class="usecase-menu">
            <span class="usecase-title"><img src="@routes.Assets.versioned("images/landingPage/usecase3.png")" width=""> &nbsp;@Messages("Định vị thông minh")</span>
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("• Giải pháp hỗ trợ các luồng xử lý bản tin định vị, cảnh báo vùng an toàn, pin yếu, cảnh báo khẩn cấp tới người sử dụng. ")</p>
            <p class="mt-3">@Messages("• Người sử dụng cũng có thể cấu hình từ xa cho thiết bị về chu kỳ gửi bản tin, chế độ tiết kiệm năng lượng, chế độ hòa mạng, hoặc cấu hình nhận cảnh báo qua SMS hoặc Notification từ App.")</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="usecase">
          <div class="usecase-menu">
            <img src="@routes.Assets.versioned("images/landingPage/usecase4.png")" width="">
            <span class="usecase-title">@Messages("Đo lường thông minh")</span>
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("• Thu thập, lưu trữ và tổng hợp dữ liệu từ đồng hồ (Điện, nước,...) thông minh một cách xác nhất.")</p>
            <p class="mt-3">@Messages("• Phân tích mức tiêu thụ tài nguyên và đưa ra cảnh báo về rò rỉ, bất thường hoặc gian lận. ")</p>
            <p class="mt-3">@Messages("• Trình bày kết quả phân tích cho người dùng cuối.")</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="usecase">
          <div class="usecase-menu">
            <span class="usecase-title"><img src="@routes.Assets.versioned("images/landingPage/usecase5.png")" width=""> &nbsp;@Messages("Văn phòng thông minh ")</span>
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("• Đảm bảo sức khỏe và sự an toàn của nhân viên để thúc đẩy năng suất của tổ chức, doanh nghiệp.")</p>
            <p class="mt-3">@Messages("• Tối ưu hóa việc tiêu thụ các tài nguyên (điện, nước, không khí, nhiệt độ, trang thiết bị, vật tư,...)")</p>
            <p class="mt-3">@Messages("• Nâng cao khả năng bảo mật, an ninh, an toàn cũng như phòng chống cháy nổ.")</p>
            <p class="mt-3">@Messages("• Tất cả đều có thể điều khiển và kiểm soát từ xa.")</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="usecase">
          <div class="usecase-menu">
            <span class="usecase-title"><img src="@routes.Assets.versioned("images/landingPage/usecase6.png")" width=""> &nbsp;@Messages("Quản lý tài sản")</span>
          </div>
          <div class="text mt-1">
            <p class="mt-3">@Messages("• Theo dõi tài sản từ xa.")</p>
            <p class="mt-3">@Messages("• Theo dõi tình trạng / trạng thái của tài sản, quản lý vòng đời tài sản. ")</p>
            <p class="mt-3">@Messages("• Tự động hóa quy trình làm việc tài sản.")</p>
            <p class="mt-3">@Messages("• Bảo mật cho tài sản bằng cách mã hóa dữ liệu để đảm bảo rằng dữ liệu được giữ riêng tư và an toàn.")</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>