@*<a href="https://www.facebook.com/profile.php?id=100082748162017" target="_blank" class="facebook-icon">*@
    @*<i class='bx bxl-facebook-square' style="font-size: 36px; margin-top: 10px;"></i>*@
@*</a>*@
@*<a href="https://www.youtube.com/channel/UClr7WnjIVvPKiWmONu4r8zA" target="_blank" class="youtube-icon">*@
    @*<i class='bx bxl-youtube' style="font-size: 36px; margin-top: 10px;"></i>*@
@*</a>*@
@*<a href="https://www.instagram.com/innoway.vn" target="_blank" class="instagram-icon">*@
    @*<i class='bx bxl-instagram' style="font-size: 36px; margin-top: 10px;"></i>*@
@*</a>*@
@*<a href="https://twitter.com/ViettelInnoway" target="_blank" class="twitter-icon">*@
    @*<i class='bx bxl-twitter' style="font-size: 36px; margin-top: 10px;"></i>*@
@*</a>*@
@*<a href="https://linkedin.com/in/viettelinnoway" target="_blank" class="linkedin-icon">*@
    @*<i class='bx bxl-linkedin' style="font-size: 36px; margin-top: 10px;"></i>*@
@*</a>*@

    <!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>
    <!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat"></div>