<div class="section features-1 mt-5" id="divKhachHang">
  <div class="container">
    <div class="col-md-12 mx-auto text-center">
      <h3 class="title-section-1">@Messages("Khách hàng và sản phẩm ")<span style="color: #ee0033">@Messages("tiêu biểu")</span></h3>
      <p id="customer">@Messages("Nền tảng Innoway đã đồng hành cùng nhiều doanh nghiệp trong nước xây dựng giải pháp IoT phục vụ chuyển đổi số.")</p>
      <div class="row">
        <div class="col-md">
          <img class="img-brand" src="@routes.Assets.versioned("images/landingPage/customer1.svg")" >
        </div>
        <div class="col-md">
          <img class="img-brand" src="@routes.Assets.versioned("images/landingPage/customer2.svg")" >
        </div>
        <div class="col-md">
          <img class="img-brand" src="@routes.Assets.versioned("images/landingPage/Brand 1.png")" >
        </div>
        <div class="col-md">
          <img class="img-brand" src="@routes.Assets.versioned("images/landingPage/customer3.svg")" >
        </div>
        <div class="col-md">
          <img class="img-brand" src="@routes.Assets.versioned("images/landingPage/customer4.svg")" >
        </div>
      </div>
    </div>
  </div>
</div>