<div class="section features-1" id="divDoiTac">
  <div class="container">
    <div class="col-md-12 mx-auto text-center">
      <h3 class="display-3 title-section-1">@Messages("Đối tác của chúng tôi")</h3>
    <p class="partner">@Messages("Sự kết hợp của Innoway và các đối tác lớn trong lĩnh vực công nghệ sẽ mang đến cho khách hàng những giải pháp IoT hữu hiệu")</p>
    <div class="row mt-3">
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner1.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner2.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner3.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner4.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner5.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2" style="padding-top: 30px;">
        <img src="@routes.Assets.versioned("images/landingPage/partner6.svg")" width="100%" height="50px">
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-md-2 mt">

      </div>
      <div class="col-md-2 mt">
        <img class="img-partner" src="@routes.Assets.versioned("images/landingPage/image19.svg")" width="" height="50px">
      </div>
      <div class="col-md-2 mt">
        <img class="img-partner" src="@routes.Assets.versioned("images/landingPage/image31.svg")" width="100%" height="50px">
      </div>
      <div class="col-md-2 mt">
        <img class="img-partner" src="@routes.Assets.versioned("images/landingPage/image32.svg")" width="" height="50px">
      </div>
      <div class="col-md-2 mt">
        <img class="img-partner" src="@routes.Assets.versioned("images/landingPage/zivix.png")" width="" height="50px">
      </div>
      <div class="col-md-2 mt">

      </div>
    </div>
  </div>
</div>
</div>