<div class="section features-1" id="divDeveloper">
  <div class="container">
    <div class="col-md-12 mx-auto text-center">
      <h3 class="display-32 title-section-1" >@Messages("Công cụ lập trình mạnh mẽ")</h3>
      <hr style="border-top: 4px solid red; width: 84px; margin-top: 1rem;">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="alignItemCenter">
            <img src="@routes.Assets.versioned("images/landingPage/develop1.png")" width="100%">
          </div>
          <div class="text mt-3 p-3">
            <h3 class="text mt-3">@Messages("Dashboard")</h3>
            <p class="mt-3">@Messages("Tạo các bảng điều khiển để hiển thị dữ liệu thiết bị theo các dạng biểu đồ, bản đồ, bảng thống kê,... theo nhu cầu sử dụng của nhà phát triển.")</p>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="margin-top: 3rem !important;">
        <div class="card">
          <div class="alignItemCenter">
            <img src="@routes.Assets.versioned("images/landingPage/develop2.png")" width="100%">
          </div>
          <div class="text mt-3 p-3">
            <h3 class="text mt-3">@Messages("Management")</h3>
            <p class="mt-3">@Messages("Tạo các bảng điều khiển để hiển thị dữ liệu thiết bị theo các dạng biểu đồ, bản đồ, bảng thống kê,... theo nhu cầu sử dụng của nhà phát triển.")</p>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="margin-top: 6rem !important;">
        <div class="card">
          <div class="alignItemCenter">
            <img src="@routes.Assets.versioned("images/landingPage/develop3.png")" width="100%">
          </div>
          <div class="text mt-3 p-3">
            <h3 class="text mt-3">@Messages("Flow Engine")</h3>
            <p class="mt-3">@Messages("Người dùng tạo các luồng xử lý nghiệp vụ cho các bản tin từ thiết bị: tạo bộ quan sát, cảnh báo, thao tác gửi SMS/Email hoặc gọi sang các hệ thống bên ngoài.")</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>