@import helper._
@import vn.m2m.common.models.User
@(currentUser:User)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Messages("project.title")</title>
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/logo.jpg")">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    @views.html.iot.tags.Main_css()

    <link href="@routes.Assets.versioned("stylesheets/views/group/style.min.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/views/modal-right.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("assets/plugins/smart-wizard/css/smart_wizard_all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.versioned("assets/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("assets/plugins/select2/css/select2-bootstrap4.css")" rel="stylesheet" />
    <style>
            .dropdown-menu::after {
              content: '';
              width: 13px;
              height: 13px;
              background: #FFFFFF;
              position: absolute;
              top: -6px;
              left: 10px;
              transform: rotate(45deg);
              border-top: 1px solid #767676;
              border-left: 1px solid #767676;
            }

      .bx-dots-horizontal-rounded {
        color: #aaaaaa !important;
      }

      .contentSolution {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .contentSolution:hover {
        display: inherit;
      }

            .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
              background-color: #EC1B2E;
              color: #ffffff;
            }
            .select2-container--bootstrap4 .select2-dropdown .select2-results__option {
              color: #ffffff;
            }
    </style>
  </head>
  <body class="bg-theme">

    <div class="sidebar-header" style="background-color: white">
      <div>
        <img src="@routes.Assets.versioned("images/login/logo.svg")" class="logo-icon" alt="logo icon" style="width: 95%;">
      </div>

      <div class="toggle-icon ms-auto" id="arrowMenu" style="display: none"><i class='bx bx-arrow-to-left'></i>
      </div>
    </div>

    <header>
      <div class="topbar d-flex align-items-center">

        <nav class="navbar navbar-expand">
          <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
          </div>

          <div class="top-menu ms-auto">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item dropdown dropdown-large">

              </li>
            </ul>
          </div>
          <div class="user-box dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="@routes.Assets.versioned("images/avatar_small2x.jpg")" class="user-img" alt="user avatar">
              <div class="user-info ps-3">
                <p class="user-name mb-0" style="font-size: 18px;">@currentUser.getUsername</p>
                @*                        <p class="designattion mb-0">@currentUser.getToken</p>*@
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="@routes.LandingPageController.home()">
                  <i class='bx bx-home-circle'></i><span>@Messages("Trang chủ")</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@routes.TelcoAccountController.accountInfo(currentUser.getId)">
                  <i class='bx bx-credit-card'></i><span>@Messages("Quản lý sim/thuê bao")</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="@routes.UserTenantListController.userTenantList()" target="_blank">
                  <i class='bx bx-user'></i><span>@Messages("Quản lý User Tenant")</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal" data-bs-target="#createDeviceTokenModal">
                  <i class='bx bx-devices'></i><span>@Messages("user.createDeviceToken")</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal" data-bs-target="#getDeviceTokenModal">
                  <i class='bx bx-download'></i><span>@Messages("user.deviceToken")</span>
                </a>
              </li>
              <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-vector'></i><span>@Messages("Version ")@currentUser.getVersion</span></a>
              </li>
              <li>
                <div class="dropdown-divider mb-0"></div>
              </li>
              <li><a class="dropdown-item" href="@routes.Application.logout()"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </header>

    <div class="page-wrapper" style="margin-left: 0px">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-7" style="padding: 40px 0px 35px 35px">
            <div class="input-group">
              <span class="input-group-text" style="width: 100%; background-color:#EC1B2E; color: #FFFFFF ">@Messages("DỰ ÁN ")</span>
            </div>
          </div>
          <div class="col-md-3" style="padding: 40px">
            <div class="input-group" style="float: right">
              @*<span class="input-group-text" style="margin-left: -5px; cursor: pointer" data-bs-toggle="modal" data-bs-target="#addProjectModal" title=""><i class='bx bx-plus'></i></span>*@
              <span class="input-group-text" onclick="focusSearchTree()"><i class='bx bx-search-alt'></i></span>
              <input id="search" class="search-input form-control border-start-0" placeholder="" maxlength="30">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row" id="listProject">
            </div>
          </div>

          <div class="col-md-1">
            @*<a class="carousel-control-next" role="button" data-bs-slide="next">*@
              @*<span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black; height: 150px"></span>*@
              @*<span class="visually-hidden">Next</span>*@
            @*</a>*@
          </div>


        </div>
      </div>

      @views.html.iot.project.ProjectList_add()
      @views.html.iot.project.ProjectList_edit()
      @views.html.iot.project.ProjectList_del()
      @views.html.iot.project.ProjectList_solutionMaket()
      @views.html.iot.project.ProjectList_solutionMaket_fleet()
      @views.html.iot.project.ProjectList_solutionMaket_asset()
      @views.html.iot.project.ProjectList_solutionMaket_smartWater()
      @views.html.iot.project.ProjectList_solutionMaket_smartFarm()
      @views.html.iot.project.ProjectList_solutionMaket_smartHome()

      @views.html.user.UserList_createDeviceToken()
      @views.html.iot.DeviceIot.DeviceIot_getToken(currentUser)

      @views.html.iot.project.ProjectList_activePhone()

      @views.html.Loading()

    </div>
      <!--  END OF PAPER WRAP -->

    <script type="text/javascript" src="@routes.JsController.jsMessages()"></script>
    <script type="text/javascript" src="@routes.JsController.javascriptRoutes"></script>
    <script src="@routes.Assets.versioned("javascripts/js/core/jquery.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@routes.Assets.versioned("assets/js/jquery.min.js")"></script>
      <!--notification js -->
    <script src="@routes.Assets.versioned("assets/plugins/notifications/js/lobibox.min.js")"></script>
    <script src="@routes.Assets.versioned("assets/plugins/notifications/js/notifications.min.js")"></script>
    <script src="@routes.Assets.versioned("assets/plugins/notifications/js/notification-custom-script.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/ShowNotification.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function(){
              @if(flash.containsKey("success")) {
              showNotification('success','@flash.get("success")');
              }
              @if(flash.containsKey("failed")) {
              showNotification('danger','@flash.get("failed")');
              }
            });

            function commingSoonNoti() {
              info_noti('Comming soon!');
            }

            var currentUserId = '@currentUser.getId';
            var imgProject0 = "@routes.Assets.versioned("images/iotplatform.png")";
            var imgProject1 = "@routes.Assets.versioned("images/smarthome.jpg")";
            var imgProject2 = "@routes.Assets.versioned("images/smartfarm.jpg")";
    </script>
    <script src="@routes.Assets.versioned("javascripts/plugins/moment.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("assets/js/chosen.jquery.min.js")"></script>

    <script src="@routes.Assets.versioned("assets/plugins/metismenu/js/metisMenu.min.js")"></script>

    <script src="@routes.Assets.versioned("assets/js/bootstrap.bundle.min.js")"></script>
      <!--plugins-->
    <script src="@routes.Assets.versioned("assets/plugins/select2/js/select2.min.js")"></script>
    <script src="@routes.Assets.versioned("assets/plugins/simplebar/js/simplebar.min.js")"></script>
    <script src="@routes.Assets.versioned("assets/plugins/smart-wizard/js/jquery.smartWizard.min.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/views/ErrorCode.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/views/user/User_deviceToken.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/views/project/project.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/projectEdit.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/projectDel.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate_fleet.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate_smartWater.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate_asset.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate_smartFarm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/views/project/project_createTemplate_smartHome.js")"></script>

    <script>
            function focusSearchTree() {
              $("#search-selectOrg").focus();
            }

            var iconProject = "@routes.Assets.versioned("images/iotIcon.jpg")";
            var imgAddProject = "@routes.Assets.versioned("images/project/add.png")";

            var imgProject0 = "@routes.Assets.versioned("images/iotplatform.png")";
            var imgProject1 = "@routes.Assets.versioned("images/smarthome.jpg")";
            var imgProject2 = "@routes.Assets.versioned("images/smartfarm.jpg")";
            var imgCommingSoon = "@routes.Assets.versioned("images/dashboard/comingSoon.png")";

      var phone = '@currentUser.getPhone';
      console.log(phone);
    </script>
    <script src="@routes.Assets.versioned("javascripts/views/project/activePhone.js")"></script>

  </body>
</html>
