.content-card-0 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #44494D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.content-card-1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.content-card-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.btn-exp {
    background: #EE0033;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
}
.div-exp {
    position: absolute;
    bottom: 10px;
    left: 24px;
}
.code {
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;
}

.CodeMirror {
    height: 70vh;
}
.cm-s-abbott.CodeMirror {
    background: #fff;
    color: #000;
}
.cm-s-abbott .CodeMirror-gutters {
    background: #fff;
}
.cm-s-abbott .CodeMirror-linenumber {
    color: #aaa;
}
.cm-s-abbott span.cm-string, .cm-s-abbott span.cm-string-2 {
    color: #f41127;
}
.cm-s-abbott span.cm-number, .cm-s-abbott span.cm-string.cm-url {
    color: #0d6efd;
}
.cm-s-abbott span.cm-meta {
    color: #0760b3;
}

#page-content-wrapper{
    padding :0px;
    height: 100%;
}

.map-canvas {
    height : 100% ;
    width: 100%;
    padding : 0 ;
}

.btn-cancle {
    width: 100px;
}
.btn-red {
    width: 100px;
}