<div class="col-md-12">
  <div class="row" id="moduleZigbee" style="display: none">
    <div class="col-md-6" >
      <div class="card-group shadow">
        <div class="card border-end shadow-none">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">SMCZ01P</h5>
          </div>
          <div class="card-footer">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/module/smcz01p.png")" alt="..." class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mô tả</h5>
                  <p class="card-text"> • Mô đun Zigbee</p>
                  <p class="card-text"> • Tần số hoạt động: 2.4 GHz, EFR32MG21</p>
                  <p class="card-text"> • Bộ nhớ: 2Mbps, 512KB Flash</p>
                  <p class="card-text"> • Nhiệt độ hoạt động: -40 → 85°C</p>
                  <p class="card-text"> • Kích thước: 22x16x2.2mm</p>
                  <a class="card-text" href="" style="float: right"><small style="cursor: pointer; font-weight: bold">Tải xuống <i class="bx bx-arrow-to-bottom"></i></small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
