<div class="col-md-12">
  <div class="row" id="moduleBluetooth" style="display: none">
    <div class="col-md-6" >
      <div class="card-group shadow">
        <div class="card border-end shadow-none">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">WT51822-S2</h5>
          </div>
          <div class="card-footer">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/module/bluetooth.jpg")" alt="..." class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mô tả</h5>
                  <p class="card-text"> • Mô đun BLE 4.2 Bluetooth</p>
                  <p class="card-text"> • Mô đun BLE 4.2 Bluetooth</p>
                  <p class="card-text"> • Bộ nhớ: 2Mbps và 256kB Flash</p>
                  <p class="card-text"> • Nhiệt độ hoạt động: -25 → 75°C</p>
                  <p class="card-text"> • Kích thước: 18.5x9.1x2.0mm</p>
                  <a class="card-text" href="" style="float: right"><small style="cursor: pointer; font-weight: bold">Tải xuống <i class="bx bx-arrow-to-bottom"></i></small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" ></div>
  </div>
</div>

