<div class="col-md-12">
  <div class="row" id="moduleWifi" style="display: none">
    <div class="col-md-6">
      <div class="card-group shadow">
        <div class="card border-end shadow-none">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">WT32C3-S5</h5>
          </div>
          <div class="card-footer">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/module/wifi.jpg")" alt="..." class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mô tả</h5>
                  <p class="card-text"> • Mô đun Wifi</p>
                  <p class="card-text"> • Tần số hoạt động: 2.4GHz</p>
                  <p class="card-text"> • Loại ESP32-C3</p>
                  <p class="card-text"> • Tốc độ: 150Mbps</p>
                  <p class="card-text"> • Bộ nhớ: 4MB Flash</p>
                  <p class="card-text"> • Kích thước: 24x16x2.3mm</p>
                  <p class="card-text"> • Nhiệt độ hoạt động: -40 → 85°C</p>
                  <a class="card-text" href="" style="float: right"><small style="cursor: pointer; font-weight: bold">Tải xuống <i class="bx bx-arrow-to-bottom"></i></small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

