<div class="col-md-12" id="moduleNbIot" style="display: block">
  <div class="row">
    <div class="col-md-6">
      <div class="card-group shadow">
        <div class="card border-end shadow-none">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">BC660k</h5>
          </div>
          <div class="card-footer">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/module/bc660k.png")" alt="..." class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mô tả</h5>
                  <p class="card-text"> • Mô đun NB-IOT</p>
                  <p class="card-text"> • Loại: LTE-NB2</p>
                  <p class="card-text"> • Công suất: class 3 </p>
                  <p class="card-text"> • Tốc độ: 158.5Kbps (HL), 127Kbps (DL)</p>
                  <p class="card-text"> • Nhiệt độ hoạt động: -40 → 85°C</p>
                  <p class="card-text"> • Kích thước: 17.7x15.8x2.0mm</p>
                  <a class="card-text" href="" style="float: right"><small style="cursor: pointer; font-weight: bold">Tải xuống <i class="bx bx-arrow-to-bottom"></i></small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-group shadow">
        <div class="card border-end shadow-none">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">SIM7022</h5>
          </div>
          <div class="card-footer">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@routes.Assets.versioned("images/module/sim7022.png")" alt="..." class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mô tả</h5>
                  <p class="card-text"> • Mô đun NB-IOT</p>
                  <p class="card-text"> • Loại: LTE-NB2</p>
                  <p class="card-text"> • Công suất: class 3 </p>
                  <p class="card-text"> • Tốc độ: 159Kbps (UL),127Kbps (DL)</p>
                  <p class="card-text"> • Nhiệt độ hoạt động: -40 → 85°C</p>
                  <p class="card-text"> • Kích thước: 17.6x15.7x2.3mm</p>
                  <a class="card-text" href="" style="float: right"><small style="cursor: pointer; font-weight: bold">Tải xuống <i class="bx bx-arrow-to-bottom"></i></small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

