#chart-container {
    /*font-family: Arial;*/
    border-radius: 5px;
    /*overflow: auto;*/
    text-align: center;
    height: 100%;
}

.orgchart {
    background: #fff;
    width: 100%;
    overflow: auto;
}
.orgchart td.left, .orgchart td.right, .orgchart td.top {
    border-color: #aaa;
}
.orgchart td>.down {
    background-color: #aaa;
}
.orgchart .middle-level .title {
    background-color: #006699;
}
.orgchart .middle-level .content {
    border-color: #006699;
}
.orgchart .product-dept .title {
    background-color: #009933;
    height: 25px;
    padding-top: 3px;
}
.orgchart .product-dept .content {
    border-color: #009933;
}
.orgchart .rd-dept .title {
    background-color: #993366;
}
.orgchart .rd-dept .content {
    border-color: #993366;
}
.orgchart .pipeline1 .title {
    background-color: #996633;
}
.orgchart .pipeline1 .content {
    border-color: #996633;
}
.orgchart .frontend1 .title {
    background-color: #cc0066;
}
.orgchart .frontend1 .content {
    border-color: #cc0066;
}

.product-dept .content {
    /*height: 4px;*/
    padding-left: 2px;
}