.namePackDiv{
    margin: 17px 0;
    padding: 8px 7px 8px 8px;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(90, 96, 106, 0.25);
    background-color: #fff;
}
.namePackText {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

/*input search*/
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 14px;
    pointer-events: none;
    font-size: 16px;
    color: #fff;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.inner-addon .glyphicon {
    position: absolute;
    padding: 9px;
    pointer-events: none;
    font-size: 20px;
    color: #333333;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}