.textOverflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*input search*/
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 14px;
    pointer-events: none;
    font-size: 16px;
    color: #fff;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.inner-addon .glyphicon {
    position: absolute;
    padding: 8px;
    pointer-events: none;
    font-size: 20px;
    color: #333333;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}