<div class="modal fade" id="comfirmOpen2SubsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h6 class="modal-title">@Messages("utilities.confirmOpenTwoWay")</h6>
      </div>
      <div class="modal-body text-darker">
        <h5 class="modal-body text-darker align-items-center" id="comfirmCountOpenSubs2"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red" data-bs-dismiss="modal" onclick="processOpenListSubs2()">@Messages("btnComfirm")</button>
        <button type="button" class="btn btn-cancle" data-bs-dismiss="modal">@Messages("btnCancel")</button>
      </div>
    </div>
  </div>
</div>