<div class="modal fade" id="comfirmRegisterMiAddonModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h6 class="modal-title">@Messages("utilities.registerMiAddon")</h6>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; right: 1rem; top: 1rem; filter: grayscale(100%) brightness(60%) contrast(100%);"></button>
      </div>
      <div class="modal-body text-darker">
        <h6 id="textComfirmRegisterMiAddon">@Messages("utilities.confirmRegisterMiAddon")</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red" data-bs-dismiss="modal" onclick="processRegisterMiAddon(0)">@Messages("btnComfirm")</button>
        <button type="button" class="btn btn-cancle" data-bs-dismiss="modal">@Messages("btnCancel")</button>
      </div>
    </div>
  </div>
</div>