<div class="modal fade" id="importRechargeSubsModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: block">
        <span class="modal-title" id="exampleModalLabel">@Messages("utilities.importRechargeList")</span>
        <a class="close cursor-pointer" data-bs-dismiss="modal" aria-hidden="true" style="float: right; font-size: 20px;">×</a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-3">
              <span class="col-sm-4 col-form-label">@Messages("utilities.loadSubscriberList")</span>
              <div class="col-sm-4">
                <input type="file" id="filesRechargeSubs" name="files" style="background-color: #aaa; width: 100%;" hidden/>
                <input type="text" class="form-control input-form" id="nameFileRechargeSubs" readonly/>
              </div>
              <label class="col-sm-4 col-form-label title-section-2" style="text-align: left; cursor: pointer; color: #EA0033;" onclick="importFileRechargeSubs()">
                <i class="bx bx-upload"></i> @Messages("utilities.importList")
              </label>
            </div>
            <div class="row mb-1">
              <span class="col-sm-4 col-form-label">@Messages("utilities.downloadSampleFile")</span>
              <span class="col-sm-4 col-form-label align-items-center">@Messages("List_Subs.xlsx")</span>
              <div class="col-sm-4 col-form-label">
                <a style="color: #EA0033; cursor: pointer;" onclick="downloadTemplateBlockSubs()"><i class="bx bx-download"></i> @Messages("Download")</a>
              </div>
            </div>
            <div class="row mb-1">
              <span class="col-sm-4 col-form-label">@Messages("utilities.validSubscribers")</span>
              <span class="col-sm-4 col-form-label align-items-center" id="countRechargeSubsTrue">@Messages("0")</span>
              <div class="col-sm-4 col-form-label">
                <a style="color: #EA0033; cursor: pointer;" onclick="exportListSubsRechargeTrue()"><i class="bx bx-download"></i> @Messages("Download")</a>
              </div>
            </div>
            <div class="row mb-1">
              <span class="col-sm-4 col-form-label">@Messages("utilities.invalidSubscribers")</span>
              <span class="col-sm-4 col-form-label align-items-center" id="countRechargeSubsFalse">@Messages("0")</span>
              <div class="col-sm-4 col-form-label">
                <a style="color: #EA0033; cursor: pointer;" onclick="exportListSubsRechargeFalse()"><i class="bx bx-download"></i> @Messages("Download")</a>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-cancle" data-bs-dismiss="modal" onclick="cancleImportFileSubsRecharge()">@Messages("btnClose")</button>
              <button type="button" class="btn btn-red" onclick="comfirmTableListSubsRecharge()" data-bs-dismiss="modal">@Messages("btnComfirm")</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- modal-bialog .// -->
</div>