<div class="modal fade" id="comfirmRechargeSubsModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: block">
        <img src="@routes.Assets.versioned("images/telco/successIcon.png")" alt="..." style="width: 56px; height: 56px;" class="card-img mt-3"><br>
        <h6 class="modal-title mt-3">@Messages("utilities.confirmPayment")</h6>

        <button type="button" class="btn btn-red mt-5" data-bs-dismiss="modal" onclick="comfirmPayRechargeSuccess()">@Messages("btnComfirm")</button>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div>