.toggle {
    display: block;
    text-align: center;
    margin-top: 15%;
    user-select: none;
    margin-bottom: 5%;
}
.toggle--checkbox {
    display: none;
}
.toggle--btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4em;
    transition: all 350ms ease-in;
}
.toggle--btn:hover {
    cursor: pointer;
}
.toggle--btn, .toggle--checkbox, .toggle--feature, .toggle--btn:before, .toggle--checkbox:before, .toggle--feature:before, .toggle--btn:after, .toggle--checkbox:after, .toggle--feature:after {
    transition: all 250ms ease-in;
}
.toggle--btn:before, .toggle--checkbox:before, .toggle--feature:before, .toggle--btn:after, .toggle--checkbox:after, .toggle--feature:after {
    content: '';
    display: block;
}
.toggle--text .toggle--btn {
    position: relative;
    width: 80%;
    height: 70px;
    font-family: 'PT Sans', Sans Serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid #8c8c8c;
    border-right: 2px solid #8c8c8c;
    box-shadow: inset 90px 0 10px rgba(255, 255, 255, 0.6), inset -3px 3px 18px -2px #8c8c8c, 0 0 15px #ccc, 0px -5px 16px 1px #ddd, -5px -5px 16px 1px #ddd, 5px -5px 16px 1px #ddd, -5px -5px 16px 1px #ddd, 5px -5px 16px 1px #ddd, 17px 9px 0 -5px rgba(255, 255, 255, 0.6), -3px 6px 12px -7px #000, 0 0 0 14px #fff, 0 0 0 15px #999;
}
.toggle--text .toggle--btn:before, .toggle--text .toggle--btn:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.toggle--text .toggle--btn:before {
    content: attr(data-label-on);
    left: 15%;
    color: #999;
}
.toggle--text .toggle--btn:after {
    content: attr(data-label-off);
    right: 15%;
    color: #db4c00;
}
.toggle--text .toggle--checkbox:checked + .toggle--btn {
    border-left: 2px solid #8c8c8c;
    border-right: 1px solid #8c8c8c;
    box-shadow: inset 90px 0 10px rgba(255, 255, 255, 0), inset 3px 3px 18px -2px #8c8c8c, 0 0 15px #ccc, 0px -5px 16px 1px #ddd, -5px -5px 16px 1px #ddd, 5px -5px 16px 1px #ddd, -5px -5px 16px 1px #ddd, 5px -5px 16px 1px #ddd, -17px 9px 0 -5px rgba(255, 255, 255, 0.6), 3px 6px 12px -7px #000, 0 0 0 14px #fff, 0 0 0 15px #999;
}
.toggle--text .toggle--checkbox:checked + .toggle--btn:before {
    color: #17a00e;
}
.toggle--text .toggle--checkbox:checked + .toggle--btn:after {
    color: #999;
}
