<div class="section section-hero section-shaped" id="divTongQuan" style="padding-bottom: 0rem;">

  <div class="shape shape-style-3 shape-default" >
    @*<img class="" src="" style="background-image: url(@routes.Assets.versioned("images/landingPage/backgroup1.png"))" width="100%">*@
  </div>
  <div id="carouselHeader" class="carousel slide" style="position: initial;" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselHeader" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselHeader" data-bs-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="page-header">
          <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                  <h3 class="display-1 text-white">@Messages("InnoWay")</h3>
                  <h5 class="display-4 font-weight-normal text-white mt-4">@Messages("Nền tảng IoT toàn diện phục vụ chuyển đổi số cho doanh nghiệp Việt")</h5>
                  <h4 class="display-3 text-white mt-4">@Messages("KẾT NỐI VÔ HẠN, MỞ VẠN TIỀM NĂNG ! ")</h4>
                </div>
                <div class="col-lg-4">
                  <img class="mt-3" src="@routes.Assets.versioned("images/landingPage/backgroup2.png")" width="100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <div class="page-header">
          <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                  <h3 class="display-1 text-white">@Messages("Nền tảng IoT InnoWay")</h3>
                  <h5 class="display-4 font-weight-normal text-white mt-4">@Messages("Quản lý thiết bị, thu thập, xử lý và hiển thị dữ liệu cho giải pháp IoT của bạn")</h5>
                  <button class="btn mt-4" style="border-radius: 8px; color: white; border: 1.4px solid white;">@Messages("Tìm hiểu ngay")</button>
                </div>
                <div class="col-lg-4">
                  <img class="mt-3" src="@routes.Assets.versioned("images/landingPage/backgroup4.png")" width="100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>