@import vn.m2m.common.models.User
@(currentUser:User)
<div class="section features-1" style="padding: 0; background: #F8F6F3;;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="" src="@routes.Assets.versioned("images/landingPage/Logo.png")">
      </div>
      <div class="col-md-2 mt">
        <p class="text-shape">Hotline miễn phí(24/7)</p>
        <p class="text-shape1">0869999904</p>
      </div>
      <div class="col-md-2 mt">
        <p class="text-shape">Chăm sóc khác hàng</p>
        <p class="text-shape1" style="word-break: break-all;">@Messages("innoway@viettel.com.vn")</p>
      </div>
    </div>
  </div>
</div>
<div class="section features-1" style="border-bottom: 1px solid #F8F6F3;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info text-white">
          <p class="descriptions opacity-8 text-darker" style="margin-top: 15px; font-weight: 500;">@Messages("LIÊN HỆ CHÚNG TÔI ")</p>
          <p class="descriptions opacity-8 text-black-50" style="margin-top: 15px"><i class="bx bx-location-plus"></i> @Messages("380 Lạc Long Quân, Nhật Tân, Tây Hồ, Hà Nội")</p>
          <a href="tel: 0869999904" target="_blank" class="descriptions opacity-8 text-black-50"><i class="bx bx-phone"></i> @Messages("0869999904")</a>
          <a href="mailto: innowayviettel.com.vn" target="_blank" class="descriptions opacity-8 text-black-50"><i class="bx bx-envelope"></i> @Messages("innoway@viettel.com.vn")</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info text-white">
          <p class="descriptions opacity-8 text-darker" style="margin-top: 15px; font-weight: 500;">@Messages("INNOWAY ")</p>
          <p class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Giới thiệu")</p>
          <p class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Hợp tác")</p>
          <a href="https://blog.innoway.vn/tuyen-dung" target="_blank" class="descriptions opacity-8 text-black-50">@Messages("Tuyển dụng ")</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info text-white">
          <p class="description opacity-8 text-darker" style="margin-top: 15px; font-weight: 500;">@Messages("DEVELOPERS ")</p>
          <a href="https://vht-iot.gitbook.io/innoway/" targat="_bank" class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Hướng dẫn sử dụng")</a>
          @if(currentUser != null){
            <a href="@routes.ProjectController.project()" class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Bắt đầu 1 dự án mới")</a>
          } else {
            <a href="#" onclick="notiMustLogin()" class="descriptions opacity-8 text-black-50">@Messages("Bắt đầu 1 dự án")</a>
          }
          <a href="@routes.AppDebugController.solutionMaketPage()" target="_blank" class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("App SDK")</a>
          <a href="@routes.AppDebugController.appDebugPage()" target="_blank" class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Vsmart Debug")</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info text-white">
          <p class="descriptions opacity-8 text-darker" style="margin-top: 15px; font-weight: 500;">@Messages("NHẬN TIN TỨC ")</p>
          <p class="descriptions opacity-8 text-black-50" style="margin-top: 15px">@Messages("Đăng ký ngay để nhận thông tin từ InnoWay.vn")</p>
          <input class="form-control"  placeholder="Nhập email" class="bx:arrow-to-right">
          <a href="https://www.facebook.com/innoway.vn/" class="bx bxl-facebook" target="_blank"></a>
          <a href="https://twitter.com/VInnoway" class="bx bxl-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UClr7WnjIVvPKiWmONu4r8zA" class="bx bxl-youtube" target="_blank"></a>
          <a href="https://www.instagram.com/innoway.vn/" class="bx bxl-instagram" target="_blank"></a>
          <p class="description opacity-8" style="margin-top: 15px"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section features-1" style="padding: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt">
        <p class="text-black-50">@Messages("© 2022. Bản quyền thuộc về Tổng Công ty Công nghiệp Công nghệ cao Viettel (VHT)")</p>
      </div>
    </div>
  </div>
</div>