@import helper._
@import vn.m2m.common.models.User
@(userId:String)
<div class="modal fade" id="listLowMoneyModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display : none ;">
  <div class="modal-dialog modal-xl modal-dialog-scrollable shadow-none">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h3 class="modal-title mb-3" id="myModalLabel" style="color: #001737;">@Messages("dashboard.modal.lowBalance.title")</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="border-radius: 8px;">
            <table class="table table-striped" id="tableLowMoney" style="width: 100%;">
              <thead style="background-color: #FBCCD6;">
                <tr>
                  <th>@Messages("manage.stt")</th>
                  <th>@Messages("dashboard.modal.subscriber.number")</th>
                  <th>@Messages("dashboard.modal.root.account")</th>
                  <th>@Messages("dashboard.modal.block.status")</th>
                  <th>@Messages("dashboard.modal.activity.status")</th>
                  <th>@Messages("dashboard.modal.update.time")</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          <div>
            <input id="pageLowMoney" value="1" style="display: none">
            <input id="pageSizeLowMoney" value="10" style="display: none">
            <input name="isResetPage" id="isResetPage" value="false" style="display: none">
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-1 pt-0">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-3">
            <p class="mb-0">@Messages("Total") <span id="total_record_LowMoney">0</span> @Messages("entries")</p>
          </div>
          <div class="col-md-8 d-flex flex-column flex-md-row justify-content-end align-items-center gap-2 gap-md-3 mb-3">
            <div class="dropdown mb-2 mb-md-0">
              <button class="btn btn-sm dropdown-toggle btn-outline-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="countPageSizeLowMoney" style="margin-left: 5px;">
                10
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:applySearchLowMoney(1,10,true)">10</a></li>
                <li><a class="dropdown-item" href="javascript:applySearchLowMoney(1,50,true)">50</a></li>
                <li><a class="dropdown-item" href="javascript:applySearchLowMoney(1,100,true)">100</a></li>
                <li><a class="dropdown-item" href="javascript:applySearchLowMoney(1,200,true)">200</a></li>
                <li><a class="dropdown-item" href="javascript:applySearchLowMoney(1,500,true)">500</a></li>
              </ul>
            </div>
            <p class="mb-2 mb-md-0">@Messages("entries.per.page")</p>
            <div id="pagingTableLowMoney" class="justify-content-md-end"></div>
          </div>
        
        </div>
        <button type="button" class="btn btn-telco" style="background: #FFFFFF; color: #EA0033;" onclick="resetModalLowMoney()" data-bs-dismiss="modal">@Messages("btnClose")</button>
        <button type="button" class="btn btn-telco" style="background: #FFFFFF; color: #EA0033;" onclick="downloadLowMoney(1)">@Messages("Export")</button>
        <a href="@routes.TelcoUtilitiesController.utilitiesTopup(userId)" target="_blank" type="button" class="btn btn-telco" style="background: #EA0033; color: #FFFFFF;">@Messages("Nạp tiền")</a>
      </div>
    </div>
  </div>
</div>