.area-android, .area-ios{
    display:inline-block;
    line-height:25px;
    height:44px;
}
.area-android {
    padding:0 0 0 8px;
    background-color: red;
    color: white;
    position:relative;
}
.area-android:after{
    content:'';
    position:absolute;
    left:100%;
    top:0;
    border-color:transparent transparent red transparent;
    border-style:solid;
    border-width:0 30px 44px 0;
    display:block;
}

.area-ios {
    padding:0 0 0 8px;
    background-color: red;
    color: white;
    position:relative;
}
.area-ios:after{
    content:'';
    position:absolute;
    right:100%;
    top:0;
    border-color:transparent red transparent transparent;
    border-style:solid;
    border-width:44px 30px 0 0;
    display:block;
}