.nav-link-inner-order {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.content-1 {
    background: #F0F0F0;
}

.main-content .wizard-form .progressbar-list::before{
    content: " ";
    background-color: rgb(155, 155, 155);
    border: 10px solid #fff;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin: 9px auto;
    box-shadow: 1px 1px 3px #606060;
    transition:all;
    z-index: 1;
}
.main-content .wizard-form .progressbar-list::after{
    content: "";
    background-color: #D4D4D4;
    padding: 0px 0px;
    position: absolute;
    top: 14px;
    left: -50%;
    width: 100%;
    height: 2px;
    margin: 9px auto;
    transition: all 0.8s;
    z-index: -1;
}
.main-content .wizard-form .progressbar-list.active::after{
    background-color: #EA0033;
}
.main-content .wizard-form .progressbar-list:first-child::after{
    content: none;
}
.main-content .wizard-form .progressbar-list.active::before{
    font-family: "Font Awesome 5 free";
    content: "\f00c";
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    padding: 6px;
    background-color: #EA0033;
    border: 1px solid #EA0033;
    box-shadow: 0 0 0 7.5px rgb(118 60 176 / 11%);
    z-index: 1;
}
.progressbar-list {
    color:#6f787d;
    z-index: 1;
}
.active{
    color:#000;
}
/* card */
.card img{
    width: 40px;
}
.card{
    color:#44494D;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    cursor: pointer;
}
/*.active-card{*/
    /*color:#44494D;*/
    /*background: #FFF0F2;*/
    /*border: 1px solid #EA0033;*/
    /*border-radius: 8px;*/
    /*cursor: pointer;*/
/*}*/
.bg-color-info{
    background-color:#00d69f;
}
.border-color{
    border-color: #ececec;
}
/*.btn{*/
    /*padding:16px 30px;*/
/*}*/
.back-to-wizard{
    transform: translate(-50%, -139%) !important;
}
.bg-success-color{
    background-color:#87D185;
}
.bg-success-color:focus{
    box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
}


.form-check .form-check-input {
    float: left;
    margin-left: -1.5em
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #adb5bd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgb(255 255 255 / 15%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .form-check-input {
        transition: none
    }
}
.form-check-input[type=checkbox] {
    border-radius: .25em
}
.form-check-input[type=radio] {
    border-radius: 50%
}
.form-check-input:active {
    filter: brightness(90%)
}
.form-check-input:focus {
    border-color: rgb(255 255 255 / 15%);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25)
}
.form-check-input:checked {
    background-color: #EE0033;
    border-color: #EE0033;
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")

}

#navbar-main {
    position: absolute;
}

.form-control:focus {
    color: #333333;
    background-color: #adb5bd;
    border-color: rgba(50, 151, 211, 0.25);
}

.modal-header {
    display: initial;
}