<div class="col-lg-11 col-md-8">
  <div class="row text-start mb-4">
    <div class="col-md-12 mb-4">
      <span class="display-4 title-section-1 text-darker">@Messages("customer.info.section.title")</span>
    </div>
    <div class="col-md-6">
      <div class="row mb-4">
        <label class="col-md-4 col-form-label title-section-2">@Messages("customer.info.representative.name")<span
            class="text-red">@Messages("field.required")</span></label>
        <div class="col-md-8">
          <input id="ten_ng_dai_dien" type="text" class="form-control input-form" maxlength="256" onkeypress="if(this.value.length==256) return false;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mb-4">
        <label class="col-md-4 col-form-label title-section-2">@Messages("customer.info.businessId")<span
            class="text-red">@Messages("field.required")</span></label>
        <div class="col-md-8">
          <input id="ma_so_doanh_nghiep" type="text" class="form-control input-form" readonly maxlength="50">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row mb-4">
        <label class="col-md-4 col-form-label title-section-2">@Messages("customer.info.phone")<span
            class="text-red">@Messages("field.required")</span></label>
        <div class="col-md-8">
          <input id="so_dien_thoai_lien_he" type="number" class="form-control input-form" pattern="/^-?\d+\.?\d*$/"
            onKeyPress="if(this.value.length==11) return false;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mb-4">
        <label class="col-md-4 col-form-label title-section-2">@Messages("customer.info.businessName")<span
            class="text-red">@Messages("field.required")</span></label>
        <div class="col-md-8">
          <input id="ten_doanh_nghiep" type="text" readonly class="form-control input-form" maxlength="50">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <p class="text-center title-section-2 text-darker fst-italic pt-3">
        @Messages("customer.info.contact.note")
      </p>
    </div>
  </div>

  <div class="row text-start mb-4">
    <div class="col-md-12 mb-4">
      <span class="display-4 title-section-1 text-darker">@Messages("delivery.section.title")</span>
    </div>
    <div class="col-md-6 mb-4">
      <div class="row pl-4">
        <div class="col-md-5">
          <label class="custom-radio">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2">
            <span class="radio-mark"></span>
            @Messages("delivery.method.store")
          </label>
        </div>
        <div class="col-md-7">
          <label class="custom-radio">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1">
            <span class="radio-mark"></span>
            @Messages("delivery.method.address")
          </label>
        </div>
        <div class="col-md-12 " style="display: none;" id="orderMessageOption1">
          <p class="text-start title-section-2 text-darker fst-italic pt-3 mb-0">
            @Messages("delivery.store.note")
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 mb-3">
          <select class="form-control" id="tinh_tp" onchange="selectDistrict()">
            <option value="">@Messages("location.province")</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <select class="form-control" id="quan_huyen" onchange="selectWard()">
            <option value="">@Messages("location.district")</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <select class="form-control" id="phuong_xa">
            <option value="">@Messages("location.ward")</option>
          </select>
        </div>
        <div class="col-md-12 mb-3">
          <input id="dia_chi_chi_tiet" type="text" class="form-control input-form" maxlength="256"
            oninput="if(this.value.length > 256) this.value = this.value.slice(0, 256);"
            placeholder="@Messages("address.detail.placeholder")">
        </div>
      </div>
    </div>
  </div>
</div>