html, body, .map-canvas {
    height : 100% ;
    width: 100%;
    padding : 0 ;
}

.paper-middle {
    padding :0px;
    height: 98%;
    padding-bottom: 15px;
}

.popover {
    z-index: 2;
}

.header-center {
    display: block;
    text-align: center;
    /*margin-left: 15px*/
}