@import vn.m2m.iot.models.DeviceIot
@(deviceList: List[DeviceIot])
<div id="editEventModal" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document" style="width: 50%;">
        <div class="modal-content" id="theme16">
            <div class="modal-header">
                <h5 class="modal-title text-darker" id="exampleModalLabel">@Messages("event.title.editEvent")</h5>
                <hr>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <input type="hidden" id="eventIdEdit">
                    <div class="col-md-6">
                        <label class="form-label text-darker">@Messages("event.title.name")@Messages(" *")</label>
                        <input id="eventNameEdit" name="name" type="text" class="form-control" maxlength="50" autocomplete="off" required>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-darker">@Messages("event.title.status")</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="eventStatus">
                            <label class="form-check-label" for="eventStatus"></label>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <label class="form-label text-darker">@Messages("event.title.condition")</label>
                        <div id="conditionLstEdit">
                            <div class="row pt-3 pb-1">
                                <div class="col-md">
                                    <select id="listDeviceDrd" class="form-select device-list">
                                        <option selected disabled value="">Select device</option>
                                        @for((device: DeviceIot)<- deviceList) {
                                            <option value="@device.getId">@device.getName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md">
                                    <select id="listVarDrd0" class="form-select var-list">
                                        <option disabled selected value="">Select variable</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <select id="listOprDrd0" class="form-select op-list">
                                        <option selected disabled value="">Select operator</option>
                                        <option value="=">Equal to</option>
                                        <option value=">">Greater than</option>
                                        <option value="<">Less than</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input id="threshold0" name="name" type="text" placeholder="Threshold" class="form-control input-threshold" maxlength="50" autocomplete="off" required>
                                </div>
                                <div class="col-sm-1 pt-sm-2">
                                    <i style="font-size: 16px; cursor: pointer; visibility: hidden" class="bx bxs-trash-alt icon-remove-cond"></i>
                                </div>
                            </div>


                        </div>


                       <div style="text-align: center;" class="row">
                           <i id="addMoreConditionEdit" style="font-size: 50px;cursor: pointer;" class="bx bxs-plus-circle"></i>
                       </div>

                        <hr>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label text-darker">@Messages("event.title.action")</label>
                        <div id="actionListEdit">
                            <div class="row pb-3 row-action">
                                <div class="col-md">
                                    <select id="listActionTypeDrd" class="form-select actionType-list">
                                        <option selected disabled value="">Select action</option>
                                        <option value="sms">Sms</option>
                                        <option value="email">Email</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <input id="receiver" name="name" type="text" placeholder="Receiver" class="form-control input-receiver" maxlength="50" autocomplete="off" required>
                                </div>
                                <div class="col-md">
                                    <input id="subject" name="name" type="text" placeholder="Subject" class="form-control input-subject" maxlength="50" autocomplete="off" required>
                                </div>
                                <div class="col-md">
                                    <input id="message" name="name" type="text" placeholder="Message" class="form-control input-message" maxlength="50" autocomplete="off" required>
                                </div>
                                <div class="col-sm-1 pt-sm-2">
                                    <i style="font-size: 16px; cursor: pointer;" class="bx bxs-trash-alt icon-remove-action"></i>
                                </div>
                            </div>
                        </div>


                        <div style="text-align: center;" class="row">
                            <i id="addMoreActionEdit" style="font-size: 50px;cursor: pointer;" class="bx bxs-plus-circle"></i>
                        </div>

                        <hr>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label text-darker">@Messages("event.title.interval")</label>
                        <div class="row">
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="monday-edit" name="weekdays" value="monday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="monday-edit">Monday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="tuesday-edit" name="weekdays" value="tuesday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="tuesday-edit">Tuesday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="wednesday-edit" name="weekdays" value="wednesday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="wednesday-edit">Wednesday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="thursday-edit" name="weekdays" value="thursday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="thursday-edit">Thursday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="friday-edit" name="weekdays" value="friday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="friday-edit">Friday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="saturday-edit" name="weekdays" value="saturday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="saturday-edit">Saturday</label>
                            </div>
                            <div class="col-md">
                                <input type="checkbox" class="btn-check" id="sunday-edit" name="weekdays" value="sunday" autocomplete="off"/>
                                <label style="width: inherit;" class="btn btn-primary btn-weekday" for="sunday-edit">Sunday</label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-2">
                                <label class="form-label">Start</label>
                                <input value="00:00" style="padding: .375rem .5rem;" id="startTime-edit" name="startTime" type="time" class="form-control" autocomplete="off" required>
                            </div>
                            <div style="display: contents;">
                                <span style="margin-top: 38px;">-</span>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">End</label>
                                <input value="23:59" style="padding: .375rem .5rem;" id="endTime-edit" name="endTime" type="time" class="form-control" autocomplete="off" required>
                            </div>

                        </div>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="updateEvent()" data-bs-dismiss="modal">@Messages("btnSave")</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
            </div>
        </div>
    </div> <!-- modal-bialog .// -->
</div>

