<div class="modal fade" id="responsiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red; border-radius: 16px 16px 0px 0px;">
        <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("Responsive Detail")</h5>
      </div>
      <div class="modal-body">
        <pre id="contentResponsive"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">@Messages("btnClose")</button>
      </div>
    </div>
  </div>
</div>