<div class="modal fade" id="projectModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display : none ;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red; border-radius: 16px 16px 0px 0px;">
        <span class="modal-title text-white" id="myModalLabel">@Messages("Project")</span>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <div class="row mt-3">
          <label class="col-sm-3 col-form-label title-section-2">@Messages("Tên *")</label>
          <div class="col-sm-9">
            <input id="nameProjectAdd" type="text" class="form-control input-form" placeholder="Nhập nội dung" maxlength="50">
          </div>
        </div>

        <div class="row mt-3">
          <label class="col-sm-3 col-form-label title-section-2">@Messages("Mô tả")</label>
          <div class="col-sm-9">
            <input id="desProjectAdd" type="text" class="form-control input-form" placeholder="Nhập nội dung" maxlength="250">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="addProject()">@Messages("Tạo dự án mới")</button>
        </div>
        <hr>
      </div>

      <div class="modal-body" style="padding-top: 0px;">
        <div class="row mt-3">
          <label class="col-sm-3 col-form-label title-section-2">@Messages("Chọn dự án *")</label>
          <div class="col-sm-9">
            <select id="chooseProjectAdd" class="form-control">
              <option value="">@Messages("---Chọn project---")</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancle" data-bs-dismiss="modal">@Messages("btnCancle")</button>
        <button type="button" class="btn btn-red" onclick="nextModalAddFlow()">@Messages("btnNext")</button>
      </div>
    </div>
  </div>
</div>