<!--plugins-->
<link href="@routes.Assets.versioned("assets/plugins/vectormap/jquery-jvectormap-2.0.2.css")" rel="stylesheet"/>
<link href="@routes.Assets.versioned("assets/plugins/simplebar/css/simplebar.css")" rel="stylesheet" />
<link href="@routes.Assets.versioned("assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css")" rel="stylesheet" />
<link href="@routes.Assets.versioned("assets/plugins/metismenu/css/metisMenu.min.css")" rel="stylesheet" />
    <!-- loader-->
<link href="@routes.Assets.versioned("assets/css/pace.min.css")" rel="stylesheet" />
    <!-- Bootstrap CSS -->
<link href="@routes.Assets.versioned("assets/css/bootstrap.min.css")" rel="stylesheet">
<link href='@routes.Assets.versioned("stylesheets/fonts/roboto.css")' type='text/css'>
<link href="@routes.Assets.versioned("stylesheets/fonts/fonts.googleapis/fontsgoogleapis.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("assets/css/app.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("assets/css/icons.css")" rel="stylesheet">

<link rel="stylesheet" href="@routes.Assets.versioned("assets/plugins/notifications/css/lobibox.min.css")" />

<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/views/body.css")" />
<link href="@routes.Assets.versioned("assets/css/chosen.min.css")" rel="stylesheet">

<link href="@routes.Assets.versioned("stylesheets/views/modal-right.css")" rel="stylesheet" />
<link href="@routes.Assets.versioned("stylesheets/views/datatable.css")" rel="stylesheet" />