.order-search-page .container {
  font-family: Roboto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.order-search-page .breadcrumb-container a{
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;

}
.order-search-page .breadcrumb-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.order-search-page .action-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.order-search-page .action-panel .input-title {
  font-weight: 600;
  padding-top: 1rem;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.order-search-page .action-panel .helper-text {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.order-search-page .action-panel button {
  width: 150px;
}

.order-search-page .info-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.order-search-page .info-panel .panel-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  margin-top: 1rem;
}

.order-search-page .info-panel .order-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

@media screen and (max-width: 991px) {
  .order-search-page .info-panel .order-info {
    grid-template-columns: 1fr;
  }
}

.order-search-page .info-panel .order-info .left-section {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #000000;
}
@media screen and (min-width: 991px) {
  .order-search-page .info-panel .order-info .left-section {
    border-right: 1px solid #000000;
  }
  .order-search-page .info-panel .order-info .right-section {
    padding-left: 1rem;
  }
}
.order-search-page .info-panel .order-info .right-section {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-search-page .info-panel .table-name {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 1rem;
}
.order-search-page .info-panel .field-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.order-search-page .info-panel .field-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.order-search-page .info-panel .field {
  display: flex;
  align-items: center;
  gap: 1rem;
}
