<div class="modal fade" id="detailAttrConfirm" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h5 class="modal-title text-white">@Messages("Chi tiết thuộc tính")</h5>
      </div>
      <div class="modal-body">
        <div class="card-body" style="border: 1px solid #858687;">
          <div id="tabAttribute" class="body-nest"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">@Messages("btnCancel")</button>
      </div>
    </div>
  </div>
</div>