@import helper._
@import vn.m2m.common.models.User
@(currentUser:User, projectId:String)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Messages("Device Template")</title>
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/logo.jpg")">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    @views.html.iot.tags.Main_css()

    <link href="@routes.Assets.versioned("stylesheets/views/modal-right.css")" rel="stylesheet" />

  </head>
  <body class="bg-theme">
    @views.html.iot.tags.Menu(currentUser, projectId)

    @views.html.iot.tags.Header(currentUser)

    <div class="page-wrapper">
      <div class="page-content">

        <div class="row">
          <div class="col-md-12">
            @*<div class="card" style="height: 36px; opacity: 0.85;border-radius: 4px; width: 100%">*@
              @*<span class="input-group-text" style="width: 100%; background-color:#EC1B2E; color: #FFFFFF; text-transform: uppercase; font-weight: normal;">@Messages("Thông tin mẫu thiết bị")</span>*@
            @*</div>*@
            @*<div class="card mb-3" style="border: 1px solid #858687;">*@
              @*<div class="card-body">*@
                @*<p class="card-text" id="nameDeviceTemplate">Tên: </p>*@
                @*<p class="card-text" id="provisionKey">Provision key:  </p>*@
                @*<p class="card-text" id="provisionSecret">Provision secret:   </p>*@
                @*<p class="card-text" id="createDateTemplate">Ngày tạo: </p>*@
                @*<p class="card-text" id="createUserTemplate">Người tạo: </p>*@
              @*</div>*@
            @*</div>*@

            <div class="card" style="height: 36px; opacity: 0.85;border-radius: 4px; width: 100%">
              <span class="input-group-text" style="width: 100%; background-color:#EC1B2E; color: #FFFFFF; text-transform: uppercase; font-weight: normal;">@Messages("Thiết bị mẫu của tôi")</span>
            </div>

            <div class="card">
              <div class="card-body" style="border: 1px solid #858687;">
                <div id="tabListTemplate" class="body-nest"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    @views.html.iot.deviceTemplate.DeviceTemplate_create()
    @views.html.iot.deviceTemplate.DeviceTemplate_del()
    @views.html.iot.deviceTemplate.DeviceTemplate_createTem()
    @views.html.iot.deviceTemplate.DeviceTemplate_detailAttr()


    @views.html.iot.deviceTemplate.AttributeTemplate_attr_add()
    @views.html.iot.deviceTemplate.AttributeTemplate_attr_edit()
    @views.html.iot.deviceTemplate.AttributeTemplate_attr_del()

    @views.html.Loading()
  </body>

  @views.html.iot.tags.Main_js()

  <script>
    var projectId = '@projectId';

    var iconEdit = "@routes.Assets.versioned("images/icon/edit.png")";
    var iconDelete = "@routes.Assets.versioned("images/icon/delete.png")";

    var smartwater = "@routes.Assets.versioned("images/smartwater.jpg")";

          $(document).ready(function () {
            $("#menu-deviceTemplate").addClass("mm-active");

            $("#menu").metisMenu();
            for (var e = window.location, o = $(".metismenu li a").filter(function() {
              return this.href == e
            }).addClass("").parent().addClass("mm-active"); o.is("li");) o = o.parent("").addClass("mm-show").parent("").addClass("mm-active");
          })
  </script>

  <script src="@routes.Assets.versioned("javascripts/views/deviceTemplate/DeviceTemplate.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/views/deviceTemplate/DeviceTemplate_attribute.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/views/deviceTemplate/DeviceTemplate_createTem.js")"></script>

</html>
