<footer class="footer" data-background-color="black">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="#">
                &copy;
            <script>
                        document.write(new Date().getFullYear())
                </script>,
          </a>
        </li>
        <li>
          <a href="#">
                About Us
          </a>
        </li>
        <li>
          <a href="#">
                Blog
          </a>
        </li>
        <li>
          <a href="#">
                Licenses
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>