body {

    font-size: 16px;

    letter-spacing: .5px;

    font-family: Roboto, sans-serif;

    overflow-x: hidden

}

.nav-link-inner--text {
    color: #333333;
    font-weight: bold;
}

.section {
    padding-top: 1rem;
}

.nav-link {
    cursor: pointer;
}

@media (min-width: 769px) {
    .titleIot1 {
        /*font-family: "Times New Roman";*/
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.52;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

        position: absolute;
        left: 15%;
        top: 30%;
    }
    .titleIot2 {
        /*font-family: "Times New Roman";*/
        font-size: 21px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

        position: absolute;
        left: 15%;
        top: 35%;
    }
    .imgBackground2 {
        position: absolute;
        right: 0px;
        top: 17%;
    }

    .showMobile {
        display: none;
    }
}
@media (max-width: 768px) {
    .titleIot1 {
        /*font-family: "Times New Roman";*/
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.52;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

        position: absolute;
        left: 5%;
        top: 12%;
    }
    .titleIot2 {
        /*font-family: "Times New Roman";*/
        font-size: 8px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

        position: absolute;
        left: 5%;
        top: 15%;
    }
    .imgBackground2 {
        position: absolute;
        right: 0px;
        top: 7%;
    }

    .showMobile {
        display: block;
        float: right;
        /*font-family: "Times New Roman";*/
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        color: #767676;
    }
}

@media (min-width: 769px) {
    .title21 {
        /*font-family: "Times New Roman";*/
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    .title22 {
        /*font-family: "Times New Roman";*/
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #767676;
        margin-top: 0.5rem;
    }
}
@media (max-width: 768px) {
    .title21 {
        /*font-family: "Times New Roman";*/
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    .title22 {
        /*font-family: "Times New Roman";*/
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #767676;
        margin-top: 0.5rem;
    }
}

.alignItemCenter {
    position: relative;
}

.title31 {
    /*font-family: "Times New Roman";*/
    font-size: 44px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.title41 {
    /*font-family: "Times New Roman";*/
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
    /*text-align: center;*/
    color: #333333;
}
@media (max-width: 768px) {
    .landing3icon6 {
        display: none;
    }
}
.title71 {
    /*font-family: "Times New Roman";*/
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #767676;
}
.title72 {
    /*font-family: "Times New Roman";*/
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #767676;
}

.input7 {
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
}

.title82 {
    /*font-family: "Times New Roman";*/
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

@media (max-width: 768px) {
    #navbar-main {
        /*overflow: hidden;*/
        transition: 0.4s;
        position: fixed;
        /*width: 100%;*/
        top: 0;
        z-index: 99;
        box-shadow: 0px 4px 16px rgba(13, 38, 59, 0.06);
    }

    .navbar-logo {
        display: none;
    }

    .navbar-login {
        /*right: 0; */
        position: absolute;
    }

    .icon13 {
        display: none;
    }
    .icon14 {
        display: none;
    }
    .icon15 {
        display: none;
    }
    .icon17 {
        display: none;
    }

    .imgQuestion {
        width: 100%;
    }

    .imgCskh {
        bottom: -15px;
        position: absolute;
        left: 0px;
        width: 100%;
    }
}
@media (min-width: 769px) {
    #navbar-main {
        /*overflow: hidden;*/
        transition: 0.4s;
        position: fixed;
        /*width: 100%;*/
        top: 0;
        z-index: 99;
        box-shadow: 0px 4px 16px rgba(13, 38, 59, 0.06);
    }

    .navbar-logo {
        display: block;
    }

    .navbar-login {
        right: 0;
        position: absolute;
    }

    .button-register {
        border: 1px solid #2C2C2E;
        border-radius: 4px;
    }

    .navbarLogin {
        right: 0px; position: absolute;
    }

    .icon13 {
        position: relative;
        right: 20%;
        height: 120px
    }
    .icon14 {
        position: relative;
        right: 100%;
        height: 120px
    }
    .icon15 {
        position: relative;
        right: 40%;
        height: 120px;
        top:10%;
    }
    .icon17 {
        position: relative;
        left: 100%;
        height: 120px
    }

    .imgQuestion {
        height: 100%;
    }

    .imgCskh {
        bottom: -15px;
        position: absolute;
        left: -30%;
        width: 145%;
    }
}

.card-listProject {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(13, 38, 59, 0.08);
    border-radius: 20px;
    padding: 28px;
    height: 300px;
}

.pb-lg, .py-lg {
    padding-bottom: 1rem !important;
}

.section-shaped .shape-default {
    background: linear-gradient(150deg, #EE0033 15%, #EE0033 70%, #EE0033 94%);
}
.customer-feature {
    display: flex;
    height: 100px;
    margin-top: 31px;
}
.customer .feature-img {
    width: 220px;
}
.messenger {
    position: fixed;
    right: 98px;
    bottom: 241px;
}
a.dropdown-items.opacity-8 {
    font-size: 14px;
    line-height: 20px;
    padding-top: -1px;
    letter-spacing: 0.5px;
    display: block;
    margin-top: 20px;
}
p.text-shape {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4F5053;
    margin-top: 7px;
}
p.text-shape1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #EE0033;
}
@media (min-width: 768px){
    .section-hero {
        min-height: 450px;
    }
}
@media (min-width: 1920px){
    #shape3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.register-developer {
    position: fixed;

    right: 10px;
    bottom: 10px;
    z-index: 4;
    /*background: linear-gradient(90deg, #D50000 0%, #7D0000 101.25%);*/
}
@media (min-width: 769px){
    .register-developer {
        width: 480px;
        height: 247px;
    }
    .text-register1 {
        font-weight: 500;
        font-size: 16px;
    }
    .text-register2 {
        font-weight: 500;
        font-size: 22px;
    }
    .button-registerDeveloper {
        background: #000000;
        box-shadow: 0px 4px 22px rgba(238, 61, 72, 0.35);
        border-radius: 8px;
    }
}
@media (max-width: 768px){
    .register-developer {
        width: 320px;
        height: 150px;
    }
    .text-register1 {
        font-weight: 400;
        font-size: 12px;
    }
    .text-register2 {
        font-weight: 400;
        font-size: 18px;
    }
    .button-registerDeveloper {
        background: #000000;
        box-shadow: 0px 4px 16px rgba(238, 61, 72, 0.35);
        border-radius: 4px;
    }
}
img.img-brand {
    max-width: inherit;
}
a.descriptions.opacity-8 {
    display: flex ;
    margin-top: 20px ;
}

p.description.opacity-8 {
    font-size: 18px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 26px !important;
}
button#buttonSubmitContact {
    background: #EE0033 !important;
    border-radius: 4px !important;
    padding: 15px 183px !impotant;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
    color: #2C2C2E !important;
    font-style: 18px !important;
    font-family: 'Roboto'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 26px !important;
    letter-spacing: 1px !important;
    color: #2C2C2E !important;
}
.description {
    font-size: 0.875rem !important;
}

.shape4 {
    background: #10375C ;
}
p.text-use-content-1 {
    font-size: 20px !important;
}
a.bx.bxl-facebook {
    color: red;
}
a.bx.bxl-twitter {
    color: red;
}
a.bx.bxl-youtube {
    color: red;
}
a.bx.bxl-instagram {
    color: red;
}

.dropdown-menu .dropdown-item:hover {
    color: #EE0033 !important;
}
a.descriptions:hover {
    color: #EE0033 !important;
}
span.text-center {
    margin-left: 42px;
}
.card-body.opacity-8 {
    margin-left: 83px;
}