<div class="modal fade" id="addGroupRootModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="theme16">
            <div class="modal-header" style="text-align: center; display: block">
                <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("btnAddGroupRoot")</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row mb-4">
                            <label class="col-sm-3 col-form-label">@Messages("manage.group.org")@Messages(" *")</label>
                            <div class="col-sm-8">
                                <input id="nameOrgCreate" name="name" type="text" class="form-control" maxlength="30" autocomplete="off" required>
                                <br>
                                <h7 class="textNote">@Messages("manage.group.org.30char")</h7>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-3 col-form-label">@Messages("manage.group.tructhuoc")@Messages(" *")</label>
                            <div class="col-sm-8">
                                <select id="chooseGroupOrgAdd" class="form-select">
                                    <option value="" selected>@Messages("manage.group.tructhuoc")</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-3 col-form-label">@Messages("manage.group.content")@Messages(" *")</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="descriptionOrgCreate" placeholder="" rows="8" maxlength="100"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="postDataCreateOrg()" data-bs-dismiss="modal">@Messages("btnSave")</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="col-md-12 position-relative">
                            <label class="form-label">@Messages("manage.group.img")</label>
                            <div class="d-flex flex-column align-items-center text-center" style="border: 1px solid;">
                                <img id="wizardPicturePreview" src="@routes.Assets.versioned("images/org/building.png")" alt="Admin" class="p-1" width="100%" style="margin: 10px;;">
                                <input id="wizard-picture" name="avatar" type="file" hidden/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="d-flex align-items-center cursor-pointer" onclick="chooseImgDefault()">
                                <div class="font-22 text-black-50">
                                    <i class="fadeIn animated bx bx-images"></i>
                                </div>
                                <div class="ms-2">@Messages("manage.group.imgChooseDefault")</div>
                            </div>
                            <div class="d-flex align-items-center cursor-pointer" onclick="$('#wizard-picture').click();">
                                <div class="font-22 text-black-50">
                                    <i class="fadeIn animated bx bx-upload"></i>
                                </div>
                                <div class="ms-2">@Messages("manage.group.upImage")</div>
                            </div>
                        </div>
                        <small>@Messages("manage.group.upImageNote")</small>
                    </div>

                </div>
            </div>

        </div>
    </div> <!-- modal-bialog .// -->
</div>