<div class="">
    <div class="card" style="height: 36px;background: #EC1B2E;opacity: 0.85;border-radius: 0px 4px 0px 0px; width: 100%">
        <span class="input-group-text" style="width: 100%; background-color:#EC1B2E; color: #FFFFFF; text-transform: uppercase; " id="totalUser">@Messages("manage.org.user")</span>
    </div>
    <div id="tabUser" class="body-nest"></div>
    @*<div class="row" style="margin-top: 15px">*@
        @*<div class="ml-auto mr-auto text-center mt--5">*@
            @*<button class="btn btn-success px-5 radius-30" onclick="setAddUsrGroupId();" style="margin-left: 10px" data-bs-toggle="modal" data-bs-target="#groupAdduser" >*@
                @*<i class="bx bx-plus" aria-hidden="true"></i> @Messages("iot.manage.groupAis.AddUser")*@
            @*</button>*@
            @*<button class="btn btn-danger px-5 radius-30" onclick="getGroupListMove(0)" data-bs-toggle='modal' data-bs-target='#move-tree-view' hidden>*@
                @*<i class="fa fa-share" aria-hidden="true"></i> @Messages("iot.manage.moveUsersToGroup")*@
            @*</button>*@
            @*<button class="btn btn-warning btn-fill btn-sm dropdown-user-action" onclick="setDelUsrids()" data-bs-toggle='modal' data-bs-target='#deleteUsersconfirm'>*@
            @*<i class='fa fa-minus-circle'></i> @Messages("iot.manage.removeUsers")*@
            @*</button>*@
        @*</div>*@
    @*</div>*@
</div>