<div class="modal fade" id="editGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: block">
        <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("group.edit")</h5>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
            <div class="row mb-4" hidden>
              <input id="idGroupEdit" type="text" class="form-control" maxlength="30" autocomplete="off" required>
            </div>
            <div class="row mb-4">
              <label class="col-sm-3 col-form-label">@Messages("group.name")@Messages(" *")</label>
              <div class="col-sm-8">
                <input id="nameGroupEdit" type="text" class="form-control" maxlength="30" autocomplete="off" required>
                <br>
                <h7 class="textNote">@Messages("manage.group.org.30char")</h7>
              </div>
            </div>
            @*<div class="row mb-4">*@
              @*<label class="col-sm-3 col-form-label">@Messages("group.type")@Messages(" *")</label>*@
              @*<div class="col-sm-8">*@
                @*<select id="entityGroupEdit" class="form-select">*@
                  @*<option value="ORGANIZATION">@Messages("group.type.org")</option>*@
                  @*<option value="USER">@Messages("group.type.user")</option>*@
                  @*<option value="DEVICE">@Messages("group.type.device")</option>*@
                  @*<option value="EVENT">@Messages("group.type.event")</option>*@
                @*</select>*@
              @*</div>*@
            @*</div>*@
            @*<div class="row mb-4">*@
              @*<label class="col-sm-3 col-form-label">@Messages("manage.group.content")@Messages(" *")</label>*@
              @*<div class="col-sm-8">*@
                @*<textarea class="form-control" id="" placeholder="" rows="10"></textarea>*@
              @*</div>*@
            @*</div>*@

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" onclick="postEditGroup()" data-bs-dismiss="modal">@Messages("btnSave")</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div>