<div class="modal fade" id="deleteUsersconfirm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header">
        <h5 class="modal-title text-white">@Messages("iot.manage.removeUsers")</h5>
      </div>
      <div class="modal-body text-white">
        <h4 class="modal-body text-darker align-items-center" id="myModalbody">@Messages("noti.confirmDeletebody")</h4>
        <div class="form-group" hidden>
          <input id="idUserDelete" class="form-control" name="idUserDelete">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="postDataDelUserInOrg()">@Messages("btnDelete")</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">@Messages("btnCancel")</button>
      </div>
    </div>
  </div>
</div>