<div class="" style="padding: 5px 15px;">
    <div class="form-group" hidden>
        <input id="idUpdateGroup" name="id" type="text" class="form-control">
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">@Messages("manage.group.org")</label>
        <div class="col-sm-7">
            <div class="form-group">
                <input id="nameUpdateGroup" name="name" type="text" class="form-control" placeholder="name" maxlength="50">
            </div>
        </div>
        <div class="row" style="">
            <div class="ml-auto mr-auto text-center mt-5">
                <button class="btn btn-danger px-5 radius-30" onclick="updateGroup('')" class="btn btn-danger btn-fill btn-sm">
                    <i class="bx bx-check-circle" aria-hidden="true"></i> @Messages("btnSave")
                </button>
                <button class="btn btn-danger px-5 radius-30" onclick="setdelGroupid()" data-bs-toggle="modal" data-bs-target="#deleteGroupconfirm">
                    <i class='bx bx-x-circle'></i>@Messages("btnDelete")
                </button>
            </div>
        </div>
    </div>
</div>