<div class="">
    <div class="card" style="height: 36px;background: #EC1B2E;opacity: 0.85;border-radius: 0px 4px 0px 0px; width: 100%">
        <span class="input-group-text" style="width: 100%; background-color:#EC1B2E; color: #FFFFFF; text-transform: uppercase;" id="totalDevice">@Messages("manage.org.device")</span>
    </div>
    <div class="body-nest">
        <div id="tabDevice" style="width: 100%;"></div>
        <div class="material-datatables mt-3">
            <input name="page" id="page" value="1" style="display: none">
            <input name="pageSize" id="pageSize" value="15" style="display: none">
            <input name="isResetPage" id="isResetPage" value="false" style="display: none">
            <div class="dataTables_paginate paging_full_numbers" id="pagingTable" style="cursor: pointer;"></div>
        </div>

    </div>
</div>