<form>
  <div class="modal fade" id="groupAdduser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="theme16">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("manage.group.user.new")</h5>
        </div>
        <div class="modal-body">
          <form class="row g-3">
            <div class="col-md-12">

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label">@Messages("manage.user.email")@Messages(" *")</label>
                <div class="col-sm-8">
                  <input type="text" id="emailAddUser" class="form-control" name="email" type="email" maxlength="50" autocomplete="off" required>
                  <br>
                  <h7 class="textNote">@Messages("manage.group.org.30char")</h7>
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label">@Messages("manage.group.tructhuoc")@Messages(" *")</label>
                <div class="col-sm-8">
                  <select id="chooseGroupUserAdd" class="form-select">
                    <option selected disabled>@Messages("manage.group.tructhuoc")</option>
                  </select>
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label">@Messages("role.title")@Messages(" *")</label>
                <div class="col-sm-8">
                  <select id="chooseRoleUserAdd" class="form-select">
                    <option selected disabled>@Messages("role.title")</option>
                  </select>
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label">@Messages("login.Password")@Messages(" *")</label>
                <div class="col-sm-8">
                  <div class="input-group" id="show_hide_password">
                    <input type="password" name="password" class="form-control border-end-0" id="inputChoosePassword" required>
                    <a id="iconHidePass" onclick="showPassword()" class="input-group-text"><i class='bx bx-hide'></i></a>
                  </div>
                  <br>
                  <h7>@Messages("manage.group.org.pass")</h7>
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label">@Messages("login.RePassword")@Messages(" *")</label>
                <div class="col-sm-8">
                  <div class="input-group" id="show_hide_password">
                    <input type="password" name="passwordRepeat" class="form-control border-end-0" id="inputChooseRePassword" required>
                    <a id="iconHideRePass" onclick="showRePassword()" class="input-group-text"><i class='bx bx-hide'></i></a>
                  </div>
                </div>
              </div>


            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="processAddUser()" data-bs-dismiss="modal">@Messages("btnSave")</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
        </div>
      </div>
    </div> <!-- modal-bialog .// -->
  </div>
</form>
