@(id: String, style: String, name: String)
<div class="card-body" id="@id"  style="@style">
  <ul class="nav nav-tabs" role="tablist" hidden>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" href="@Messages("#")@id" role="tab" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
          </div>
          <div class="tab-title">@name</div>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content py-3">
    <div class="tab-pane fade show active" role="tabpanel">
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="read" onchange="change_action(this, '@id', 'read')">
        <label class="form-check-label" for="flexCheckDefault">@Messages("btnView")</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="create" onchange="change_action(this, '@id', 'create')">
        <label class="form-check-label" for="flexCheckDefault">@Messages("btnCreate")</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="modify" onchange="change_action(this, '@id', 'modify')">
        <label class="form-check-label" for="flexCheckDefault">@Messages("btnEdit")</label>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="delete" onchange="change_action(this, '@id', 'delete')">
        <label class="form-check-label" for="flexCheckDefault">@Messages("btnDelete")</label>
      </div>
    </div>
  </div>
</div>