.batteryContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.batteryOuter {
    border-radius: 3px;
    border: 1px solid #444;
    padding: 1px;
    width: 50px;
    height: 20px;
}

.batteryBump {
    border-radius: 1px;
    background-color: #444;
    margin: 1px;
    width: 4px;
    height: 8px;
}

#batteryLevel {
    border-radius: 2px;
    background-color: #73AD21;
    width: 100%;
    height: 16px;
}