
<form>
    <div id="editModal" class="modal fixed-left fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-aside" role="document" style="width: 40%">
            <div class="modal-content" id="theme16">
                <div class="modal-header">
                    <h5 class="modal-title text-darker" id="exampleModalLabel">@Messages("role.editRole")</h5>
                    <hr>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <input type="hidden" id="roleIdEdit">
                        <div class="col-md-12">
                            <label class="form-label text-darker">@Messages("role.name")@Messages(" *")</label>
                            <input id="roleNameEdit" name="name" type="text" class="form-control" maxlength="50" autocomplete="off" required>
                        </div><hr>

                        <div class="col-md-12">
                            <label class="form-label text-darker">@Messages("role.resources")@Messages(" *")</label>
                            <div id="resourceListEdit">

                            </div>
                            <div style="text-align: center;" class="row">
                                <i id="addMoreEdit" style="font-size: 50px;cursor: pointer;" class="bx bxs-plus-circle"></i>
                            </div>
                            <hr>

                        </div>



                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="updateRole()" data-bs-dismiss="modal">@Messages("btnSave")</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
                </div>
            </div>
        </div> <!-- modal-bialog .// -->
    </div>
</form>
