<div class="modal fade" id="questionModal1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: inherit;">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: #000000;">@Messages("landingPageTelco.ordersim.pleaseChoose")</h5>
      </div>
      <div class="modal-body">
        <input type="radio" id="age1" name="age" value="Sim">
        <label for="age1">@Messages("landingPageTelco.ordersim.hasSim")</label><br>
        <input type="radio" id="age2" name="age" value="notSim">
        <label for="age2">@Messages("landingPageTelco.ordersim.noSim")</label><br><br>
      </div>
      <div class="modal-dialog_btn-2column2" style="text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #EA0033; background: #FFFFFF;border-radius: 8px 8px 8px 0px;border-color: #EA0033;margin-top: -45px;">@Messages("landingPageTelco.ordersim.cancel")</button>
        <button type="button" class="btn btn-danger" style="background: #EA0033; color: #FFFFFF;margin-top: -45px;" onclick="checkButton()" data-bs-dismiss="modal">@Messages("landingPageTelco.ordersim.continue")</button>
      </div>
    </div>
  </div>
</div>