@import vn.m2m.common.models.User
@(currentUser:User)
<div class="section features-1" id="divGiaiphap">
    <div class="container" style="margin-top: -7rem;">
        <div class="col-md-12 mx-auto text-center">
            <p class="value1">@Messages("landingPageTelco.giaiphap.platformTitle")</p>
            <h3 class="display-3 title-section-1">@Messages("landingPageTelco.giaiphap.valueProposition")</h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-3" id="card1">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3" style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Icon_user.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.subscriberManagement")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.subscriberDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card2">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Group.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.contractManagement")</h4>
                        <p class="mt-3" >@Messages("landingPageTelco.giaiphap.contractDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card3">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Icon_donhang.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.orderManagement")</h4>
                        <p class="mt-3" style="margin-left: 20px; margin-right: 18px;">@Messages("landingPageTelco.giaiphap.orderDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card4">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Icon_TT.svg")"  width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.topupSubscriber")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.topupDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card5">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Icon_tienich.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.blockUnblock")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.blockDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card6">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/icon_settings.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.packageRegistration")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.packageDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card7">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/world_1.jpg")" width="" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.subscriberConnection")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.connectionDescription")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="card8">
                <div class="card card-blue text-center card-listProject">
                    <div class="alignItemCenter mt-3"  style="margin-top: 1rem !important;">
                        <img src="@routes.Assets.versioned("images/landingPageTelco/Icon_hang.svg")" width="65px" height="65px" class="align-items-lg-center">
                    </div>
                    <div class="text mt-3">
                        <h4 class="gp-title-1">@Messages("landingPageTelco.giaiphap.bulkOrdering")</h4>
                        <p class="mt-3">@Messages("landingPageTelco.giaiphap.bulkDescription")</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="info info-horizontal info-hover-primary" style="text-align: right; margin-right: 1rem;margin-top: 1rem;">
            <div class="description">
            @if(currentUser != null){
                <a href="@routes.TelcoDashboardController.telcoDashboard(currentUser.getId)"  rel="nofollow" target="_blank" class="btn btn-danger-2" style="background: #EA0033;color: #FFFFFF">@Messages("landingPageTelco.giaiphap.tryNow")<span style="margin-left: 4px;">&#8599;</span></a>
            } else {
                <a href="@routes.Application.login()" rel="nofollow" target="_blank" class="btn btn-danger-2" style="background: #EA0033;color: #FFFFFF">@Messages("landingPageTelco.giaiphap.tryNow")<span style="margin-left: 4px;">&#8599;</span></a>
            }
            </div>
        </div>
    </div>
</div>