<div class="modal fade" id="questionModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="theme16">
            <div class="modal-header" style="text-align: center; display: contents;">
                <h5 class="ipSosanh">@Messages("landingPageTelco.sosanh.comparePackages")</h5>
            </div>
            <div class="modal-body" id="popup">

            </div>
            <div class="modal-dialog_btn-2column2" style="text-align: center;">
@*                <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #EA0033; background: #FFFFFF;border-radius: 8px 8px 8px 0px;border-color: #EA0033;margin-top: -45px;">@Messages("landingPageTelco.sosanh.close")</button>*@
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="selectData()" style="color: #FFFFFF; background: #EA0033;border-radius: 8px 8px 8px 0px;margin-top: -45px;">@Messages("landingPageTelco.sosanh.close")</button>
            </div>
        </div>
    </div>
</div>