<div class="section features-1" id="divSanpham">
    <div class="container">
        <div class="col-md-12 mx-auto text-center">
            <p class="value">@Messages("landingPageTelco.sanpham.iotProducts")</p>
            <h3 class="display-3 title-section-1">@Messages("landingPageTelco.sanpham.diverseProducts")</h3>
        </div>
        <div class="wp-slider">
            <div class="owl-carousel mt-4">
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3">
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_6.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.smartTracking")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.vTag")</p>
                                <div class="">
                                    <a href="https://viettel.vn/vtag" rel="nofollow" target="_blank"  class="btn btn-danger-2" style="color: #EA0033;top: 2rem;">@Messages("landingPageTelco.sanpham.viewDetails")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_9.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.smartWatch")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.myKid")</p>
                                <div class="">
                                    <a class="btn btn-danger-2" style="margin-top: 2rem;" href="https://mykid.viettel.vn/" rel="nofollow" target="_blank" style="color: #EA0033;">@Messages("landingPageTelco.sanpham.viewDetails")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3">
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_8.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.smartCar")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.vcar")</p>
                                <div class="">
                                    <a class="btn btn-danger-2" href="https://viettel.vn/vcar" rel="nofollow" target="_blank" style="color: #EA0033;top: 2rem;">@Messages("landingPageTelco.sanpham.viewDetails")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_7.jpg")" width="" class="img-sp">
                            </div>

                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.assetManagement")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.smartMotor")</p>
                                <div class="">
                                    <a href="https://smartmotor.vn/" rel="nofollow" target="_blank" class="btn btn-danger-2"  style="color: #EA0033;top: 2rem;">@Messages("landingPageTelco.sanpham.viewDetails")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000" >
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_7.jpg")" width="" class="img-sp">
                            </div>

                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.assetManagement")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.vTrackingCar")</p>
                                <div class="">
                                    <a href="https://vtracking.viettel.vn/" rel="nofollow" target="_blank" class="btn btn-danger-2"  style="color: #EA0033;top: 38px;">@Messages("landingPageTelco.sanpham.viewDetails")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_13.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.personalHealth")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.vHealth")</p>
                            </div>
                            <div class="">
                                <a class="btn btn-danger-2"  style="color: #EA0033; height: 42px; top: 40px;font-weight: 700;font-size: 15px;">@Messages("landingPageTelco.sanpham.inDevelopment")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_15.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.smartOffice")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.cameraAl")</p>
                            </div>
                            <div class="">
                                <a class="btn btn-danger-2"  style="color: #EA0033; height: 42px; top: 40px; font-weight: 700;font-size: 15px;">@Messages("landingPageTelco.sanpham.inDevelopment")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-bs-interval="5000">
                    <div class="col-md-3" >
                        <div class="card card-blue text-center card1-listProject">
                            <div class="alignItemCenter mt-3">
                                <img src="@routes.Assets.versioned("images/landingPageTelco/Pict_11.jpg")" width="" class="img-sp">
                            </div>
                            <div class="text mt-3">
                                <h4 class="sp-title-2">@Messages("landingPageTelco.sanpham.smartApartment")</h4>
                                <p class="mt-3">@Messages("landingPageTelco.sanpham.homeCamera")</p>
                            </div>
                            <div class="">
                                <a class="btn btn-danger-2"  style="color: #EA0033; height: 42px; top: 40px; font-weight: 700;font-size: 15px;">@Messages("landingPageTelco.sanpham.inDevelopment")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


