<div class="">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" onclick=clickTab(1) href="#METERING">@Messages("landingPageTelco.goicuocm2m.metering")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(2) href="#TRACKING" style="">@Messages("landingPageTelco.goicuocm2m.tracking")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(3) href="#POS" style="">@Messages("landingPageTelco.goicuocm2m.pos")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(4) href="#SMART_SPEAKER" style="">@Messages("landingPageTelco.goicuocm2m.smartSpeaker")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(5) href="#ADS_SCREEN" style="">@Messages("landingPageTelco.goicuocm2m.adsScreen")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(6) href="#CAMERA" style="">@Messages("landingPageTelco.goicuocm2m.camera")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(7) href="#CAR" style="">@Messages("landingPageTelco.goicuocm2m.car")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(8) href="#SELL_DEVICE" style="">@Messages("landingPageTelco.goicuocm2m.sellDevice")</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" onclick=clickTab(9) href="#ALL" style="">@Messages("landingPageTelco.goicuocm2m.all")</a></li>
    </ul>
    <div class="tab-content">
        <div id="METERING" class="tab-pane fade active show">
        </div>
        <div id="TRACKING" class="tab-pane fade">
        </div>
        <div id="POS" class="tab-pane fade">
        </div>
        <div id="SMART_SPEAKER" class="tab-pane fade">
        </div>
        <div id="ADS_SCREEN" class="tab-pane fade">
        </div>
        <div id="CAMERA" class="tab-pane fade">
        </div>
        <div id="CAR" class="tab-pane fade">
        </div>
        <div id="SELL_DEVICE" class="tab-pane fade">
        </div>
        <div id="ALL" class="tab-pane fade">
        </div>
    </div>
</div>
