.dangnhap {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.consent{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ec1b2e;
}
.bgBlue {
    background-color: #0760b3!important;
}
.d-grid {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}