body {
    background-color: #F6F6F6;
}

.topbar {
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    border-bottom: 2px solid #dee2e6;
    box-shadow: 0 0 0 rgba(0, 0, 0, .075)!important;
}

.sidebar-wrapper .metismenu a {
    font-size: 14px;
    height: 50px;
}

.page-wrapper {
    margin-top: 0px;
}

th {
    font-weight: 500;
}

.toggle-icon {
    color: #ffffff;
}

.page-content {
    padding: 4.5rem 1rem 0 1rem;
}

@media (min-width: 768px) {
    .text-right {
        text-align: right;
    }
    .icon-upload {
        float: left;
    }
    .m-t-3 {
        margin-top: 1rem !important;
    }
}
@media (max-width: 767px) {
    .text-right {
        text-align: left;
    }
    .icon-upload {
        float: right;
    }
    .m-t-3 {
        margin-top: 0;
    }
}

.height-45 {
    height: 42px;
    font-weight: 600;
}

.order-actions a {
    background: #EC1B2E;
}

.switcher-btn {
    background: #EC1B2E;
}

.switcher-wrapper {
    background: linear-gradient(180deg, #f04251, #EC1B2E);
}

.form-control {
    background-color: #ffffff;
    color: #212529;
}
.form-control:focus {
    background-color: #ffffff;
}
.form-control:disabled, .form-control:focus {
    color: #EC1B2E;
}

.input-form {
    background: #FFFFFF;
    border: 0.5px solid #C0C0C0;
    border-radius: 8px;
}

input::placeholder {
    color: #333!important;
    opacity: .3!important
}

.datetimepicker {
    background-image: url(datepicker.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}
.datetimepicker::placeholder {
    color: yellow;
}


.form-select {
    color: #212529;
    border: 0.5px solid #C0C0C0;
    border-radius: 8px;
    background-color: #ffffff;
}
.form-select option {
    background-color: #dee2e6;
}

.sidebar-wrapper .metismenu {
    padding: 0px 0px;
}

.sidebar-wrapper .metismenu .mm-active>a, .sidebar-wrapper .metismenu a:active, .sidebar-wrapper .metismenu a:focus, .sidebar-wrapper .metismenu a:hover {
    background: linear-gradient(90deg, rgba(213, 0, 46, 0.3) 0%, rgba(213, 0, 46, 0) 126.01%);
    font-weight: 400;
    font-size: 20px;
    border-left: 4px solid #EA0029;
    color: #ffffff !important;
}

.card {
    background-color: #ffffff!important;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0.3rem 0.8rem #f8f9fa;
}

.text-red {
    color: #EA0029;
}

.btn-telco {
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 8px 0px;
    border-color: #EA0033;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    /*font-size: 16px;*/
    /*line-height: 22px;*/
}
.btn-telco-account {
    width: 180px;
    height: 40px;
    border-radius: 8px 8px 8px 0px;
    border-color: #EA0033;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    /*font-size: 16px;*/
    /*line-height: 22px;*/
}
.btn-search {
    /*width: 120px;*/
    height: 40px;
    border-radius: 8px 8px 8px 0px;
    border-color: #EA0033;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
}

.btn-flat {
    color: white;
}

.wrap-text {
    white-space: pre-wrap;
}

tbody, td, tfoot, th, thead, tr {
    border-style: hidden;
}

.bg-light {
    background-color: #999!important;
}

.img-tb {
    margin-top: 35px;
}

.count-tb {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.btn-tb {
    background: #FFFFFF;
    border: 0.5px solid #44494D;
    border-radius: 4px 4px 4px 0px;
    color: black;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 12px;
    /*font-weight: 700;*/
    /*line-height: 1;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: 100%;
}

.btn-red {
    background: #EA0033;
    color: #ffffff;
    border: 1px solid #EA0033;
    border-radius: 8px 8px 8px 0px;
    width: 150px;
    font-weight: 600;
}

.btn-cancle {
    background: #FFFFFF;
    color: #EA0033;
    border: 1px solid #EA0033;
    border-radius: 8px 8px 8px 0px;
    width: 150px;
    font-weight: 600;
}

.text-search {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #44494D;
}

.tb {
    font-style: normal;
    font-weight: 400;
    /*font-size: 16px;*/
    text-decoration-line: underline;
    color: #EA0033;
}

/*tooltip*/
.tooltip{
    border: 1px solid #000;
    /*display: inline-block;*/
    padding: 20px;
    -webki-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
    right: 1rem;
    border-radius: 8px;
}
.tooltip.abierto{
    visibility: visible;
    opacity: 1;
    background-color: #000000;
}
.tooltip::after {
    content: '';
    width: 13px;
    height: 13px;
    background: #000000;
    position: absolute;
    top: -8px;
    right: 8px;
    transform: rotate(45deg);
    border-top: 1px solid #767676;
    border-left: 1px solid #767676;
}

.dropdown-menu {
    border: 1px solid #aaa;
    color: white;
}

.modal-header {
    background-color: white;
}

.modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
    color: #44494D;
    text-transform: initial;
}

.modal-footer {
    text-align: center;
    display: block;
}

.form-info {
    background: #EFEFEF;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
}

.form-info[readonly] {
    background-color: #EFEFEF;
}

/*.col-form-label {*/
/*padding-top: 0px;*/
/*}*/

.modal-dialog {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 16px;
}

.modal-header {
    border-radius: 16px;
}

.modal-content {
    background-color: white;
    border-radius: 16px;
}

.noti1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #44494D;
}

.noti2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #44494D;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #dee2e6;
    opacity: 1;
}

.tooltip.abierto {
    width: 350px;
}

.blink {
    animation: blinker 4s linear infinite;
    margin-bottom: 0px;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.select-form {
    border-radius: 8px;
    border: 1px solid #C0C0C0;
}

.cursor-pointer {
    cursor: pointer;
}

.gap-10 {
    gap: 10px;
}
#pagination_custom .page-item.active .page-link {
    background: transparent;
    color: #EA0029;
    border: 1px solid #EA0029;
}

#pagination_custom .page-link {
        background: transparent;
    border: 1px solid #5C5C5C;
}
.dtp-picker-days .dtp-select-day {
  opacity: 0.5;
}

.dtp-picker-days td a.dtp-select-day {
  opacity: 1; /* ngày được chọn giữ nguyên */
}

.box-option {
    border: 1px solid #C0C0C0;
    border-radius: .625rem;
    padding: .625rem;
    cursor: pointer;
    min-height: 4.6875rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.box-option.active {
    border: 1px solid #FA1A38;
}

.box-title {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}

.box-promotion {
    display: inline-block;
    background-color: #FFEBF0;
    color: #FA1A38;
    font-size: .75rem;
    font-style: italic;
    padding: 5px;
    margin-top: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#prepayCharges_no_data {
    font-style: italic;
    padding-bottom: 10rem;
}
#prepayChargesInfo {
    border-right: 1px solid #D9D9D9;
}
/* mobile */
@media (max-width: 46.1875rem) {
    #prepayChargesInfo {
        border-right: unset;
    }
}
/* tablet */
/* @media screen and (min-width: 740px) and (max-width: 1023px) {
    .box-option {
        min-height: 4.6875rem;
    }
} */
