<div class="col-md-12">
  <div class="row">
    <div class="col-md-6 text-white">
      <div class="form-group">
        <label style="font-weight: bold">@Messages("Topic")</label>
      </div><hr>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="dataCheck" name="radio-stacked" required>
        <label class="form-check-label">@Messages("data")</label>
      </div><hr>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="eventsCheck" name="radio-stacked" required>
        <label class="form-check-label">@Messages("events")</label>
      </div><hr>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="appControlsCheck" name="radio-stacked" required>
        <label class="form-check-label">@Messages("app/controls")</label>
      </div><hr>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="deviceControlsCheck" name="radio-stacked" required>
        <label class="form-check-label">@Messages("device/controls")</label>
      </div><hr>
    </div>
    <div class="col-md-6 text-white">
      <div class="form-group">
        <label style="font-weight: bold">@Messages("Get Message")</label>
      </div><hr>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="invalidCheckData">
        <label class="form-check-label" for="invalidCheck">@Messages("data")</label>
      </div><hr>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="invalidCheckEvents">
        <label class="form-check-label" for="invalidCheck">@Messages("events")</label>
      </div><hr>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="invalidCheckAppControls">
        <label class="form-check-label" for="invalidCheck">@Messages("app/controls")</label>
      </div><hr>
      <div class="form-check">
        <input class="form-check-input" type="checkbox"id="invalidCheckDeviceControls">
        <label class="form-check-label" for="invalidCheck">@Messages("device/controls")</label>
      </div><hr>
    </div>
  </div>
</div>