<div class="chat-tab-menu mt-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" data-bs-toggle="modal" data-bs-target="#sendMetadataModal">
      <a class="nav-link active" data-bs-toggle="pill" href="javascript:;" title="@Messages("filter.sendMetadata")">
        <div class="font-24"><i class='bx bx-conversation'></i>
        </div>
        <div><small>@Messages("message.sendMetadata")</small>
        </div>
      </a>
    </li>
    <li class="nav-item" data-bs-toggle="modal" data-bs-target="#sendMessToDevice">
      <a class="nav-link active" data-bs-toggle="pill" href="javascript:;" title="@Messages("filter.sendMessToDevice")">
        <div class="font-24"><i class='bx bx-envelope'></i>
        </div>
        <div><small>@Messages("message.sendMessToDevice")</small>
        </div>
      </a>
    </li>
  </ul>
</div>
<hr>
<p id="contentMetadata" class="text-white" style="margin-left: 15px;"></p>