.MultiCheckBox {
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:4px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:#787878;
}

.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    border:1px solid #e2e2e2;
    overflow-y:hidden;
    margin-top: 35px;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
    background-color: aliceblue;
}

.MultiCheckBoxDetail .cont  {
    clear:both;
    overflow: hidden;
    padding: 2px;
}

.MultiCheckBoxDetail .cont:hover  {
    background-color:#cfcfcf;
}

.MultiCheckBoxDetailBody > div > div {
    float:left;
    margin-left: 10px;
}

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
}

.MultiCheckBoxDetailHeader>input {
    position: absolute;
    top: 8px;
    left: 4px;
}

.MultiCheckBoxDetailHeader>div {
    position: absolute;
    top: 5px;
    left: 24px;
    color:#fff;
}