@import vn.m2m.common.models.User
@(currentUser:User)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/logo.jpg")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>AppSDK</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="@routes.Assets.versioned("awesome/css/bootstrap.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("awesome/css/landing-page.css")" rel="stylesheet"/>

      <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
    <link href="@routes.Assets.versioned("awesome/css/pe-icon-7-stroke.css")" rel="stylesheet" />

    <link href="@routes.Assets.versioned("stylesheets/views/app/appSdk.css")" rel="stylesheet" />

  </head>
  <body class="landing-page landing-page1">
    <nav class="navbar navbar-transparent navbar-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example" >
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="@routes.LandingPageController.home()">
                <i class="fa fa-home"></i> @Messages("Trang chủ ")
              </a>
            </li>
            <li>
              <a href="@routes.AppDebugController.solutionMaketPage()">
                <i class="fa fa-cloud"></i> @Messages("Giải pháp mẫu")
              </a>
            </li>
            <li>
              <a href="@routes.AppDebugController.appSdkPage()" class="btn btn-neutral">
                <i class="fa fa-tablet"></i> @Messages("App SDK")
              </a>
            </li>
            <li>
              <a href="@routes.AppDebugController.appDebugPage()">
                <i class="fa fa-tablet"></i> @Messages("App Debug")
              </a>
            </li>
            @if(currentUser != null){
              <li>
                <a href="@routes.ProjectController.project()">
                  <i class="fa fa-user"></i> @currentUser.getUsername
                </a>
              </li>
            } else {
              <li>
                <a href="@routes.Application.login()">
                  <i class="fa fa-lock"></i> @Messages("landing.dangnhap")
                </a>
              </li>
              <li>
                <a href="@routes.Application.register()">
                  <i class="fa fa-lock"></i> @Messages("landing.dangki")
                </a>
              </li>
            }
          </ul>
        </div>
          <!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="wrapper">
      <div class="parallax filter-gradient red" data-color="red">
        <div class="parallax-background">
          <img class="parallax-background-image" src="@routes.Assets.versioned("awesome/img/bg3.jpg")">
        </div>
        <div class= "container">
          <div class="row">
            <div class="col-md-5 hidden-xs">
              <div class="parallax-image">
                <img class="phone" src="@routes.Assets.versioned("awesome/img/iphone3.png")" style="margin-top: 20px"/>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="description">
                <h2>@Messages("Nền tảng IoT InnoWay")</h2>
                <br>
                <h5>@Messages("Cùng trải nghiệm những ứng dụng điện thoại đã tích hợp với nền tảng IoT Innoway cho các bộ giải pháp như: Nhà thông minh, Trang trại thông minh.")</h5>
              </div>
              <div class="buttons">
                <button class="btn btn-simple btn-neutral">
                  <i class="fa fa-apple"></i>
                </button>
                <button class="btn btn-simple btn-neutral">
                  <i class="fa fa-android"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-features">
        <div class="container">
          <h4 class="header-text text-center">@Messages("Danh sách App SDK")</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body" style="padding: 0px;">
                  <h5 class="card-title">
                    <div class="col-md-12" style="border-bottom: 1px solid #ccc!important;">
                      <div class="row">
                        <div class="col-md-6 align-items-center" style="height: 40px; padding: 10px; margin-right: -12px;">
                          <span class="">
                          Smarthome SDK
                          </span>
                        </div>
                        <div class="col-md-3 align-items-center area-android" id="imgLogoAndoird" style="cursor: pointer; padding: 10px" onclick="changeLinkAndroid()">
                          <span>Android</span>
                        </div>
                        <div class="col-md-3 align-items-center " id="imgLogoIos" style="cursor: pointer; padding: 10px" onclick="changeLinkIos()">
                          <span class="">iOS</span>
                        </div>
                      </div>
                    </div>
                  </h5>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5">
                        <img src="@routes.Assets.versioned("images/overview/appSdk.png")" width="100%" alt="" />
                      </div>
                      <div class="col-md-7">
                        <p class="card-text" style="text-align: initial;">@Messages("Ứng dụng cho phép kết nối và quản lý các thiết bị thông minh trong nhà ")</p>
                        <div id="linkDownloadSdk" style="text-align: initial;">
                          <a href="http://203.113.138.18:4447/s/r2mdFKfdA28otJt/download" target="_blank" >
                            <i class="fa fa-download" style="padding: 0px 5px; border: 1px solid #ccc!important;"></i> @Messages("Tải tài liệu ")
                          </a><br>
                          <a href="http://203.113.138.18:4447/s/j8GJxdf3js55FsB/download" target="_blank" >
                            <i class="fa fa-download" style="padding: 0px 5px; border: 1px solid #ccc!important;"></i> @Messages("Tải SDK ")
                          </a>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body" style="padding: 0px;">
                  <h5 class="card-title">
                    <div class="col-md-12" style="border-bottom: 1px solid #ccc!important;">
                      <div class="row">
                        <div class="col-md-6 align-items-center" style="height: 40px; padding: 10px; margin-right: -12px;">
                          <span class="">
                          Smart Tracking SDK
                          </span>
                        </div>
                        <div class="col-md-3 align-items-center area-android" style="cursor: pointer; padding: 10px" onclick="">
                          <span>Android</span>
                        </div>
                        <div class="col-md-3 align-items-center" style="cursor: pointer; padding: 10px" onclick="">
                          <span class="">iOS</span>
                        </div>
                      </div>
                    </div>
                  </h5>

                  <div class="col-md-12" style="padding: 15px;">
                    <p class="card-text">Đang phát triển </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body" style="padding: 0px;">
                  <h5 class="card-title">
                    <div class="col-md-12" style="border-bottom: 1px solid #ccc!important;">
                      <div class="row">
                        <div class="col-md-6 align-items-center" style="height: 40px; padding: 10px; margin-right: -12px;">
                          <span class="">
                          Smart Packing SDK
                          </span>
                        </div>
                        <div class="col-md-3 align-items-center area-android" style="cursor: pointer; padding: 10px" onclick="">
                          <span>Android</span>
                        </div>
                        <div class="col-md-3 align-items-center" style="cursor: pointer; padding: 10px" onclick="">
                          <span class="">iOS</span>
                        </div>
                      </div>
                    </div>
                  </h5>

                  <div class="col-md-12" style="padding: 15px;">
                    <p class="card-text">Đang phát triển </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body" style="padding: 0px;">
                  <h5 class="card-title">
                    <div class="col-md-12" style="border-bottom: 1px solid #ccc!important;">
                      <div class="row">
                        <div class="col-md-6 align-items-center" style="height: 40px; padding: 10px; margin-right: -12px;">
                          <span class="">
                          Industry SDK
                          </span>
                        </div>
                        <div class="col-md-3 align-items-center area-android" style="cursor: pointer; padding: 10px" onclick="">
                          <span>Android</span>
                        </div>
                        <div class="col-md-3 align-items-center" style="cursor: pointer; padding: 10px" onclick="">
                          <span class="">iOS</span>
                        </div>
                      </div>
                    </div>
                  </h5>

                  <div class="col-md-12" style="padding: 15px;">
                    <p class="card-text">Đang phát triển </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <nav class="pull-left">

          </nav>
          <div class="social-area pull-right">
            <a class="btn btn-social btn-facebook btn-simple">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple">
              <i class="fa fa-pinterest"></i>
            </a>
          </div>
          <div class="copyright">
                &copy; 2022 <a href="#">Innoway Platform team</a>, made with love
          </div>
        </div>
      </footer>
    </div>

  </body>
  <script src="@routes.Assets.versioned("awesome/js/jquery-1.10.2.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("awesome/js/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("awesome/js/bootstrap.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("awesome/js/awesome-landing-page.js")" type="text/javascript"></script>

  <script src="@routes.Assets.versioned("javascripts/views/app/appSdk.js")"></script>
</html>
