<div class="modal fade" id="infoSubscriber" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display : none ;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
  <span class="modal-title" id="myModalLabel">@Messages("subscriber.info.title")</span>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="row">
            <span style="font-weight: 700;font-size: 16px;">@Messages("subscriber.info.detailTitle")</span>
            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.phoneNumber")</label>
                  <div class="col-sm-8">
                    <input id="isdnInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.simSerial")</label>
                  <div class="col-sm-8">
                    <input id="serialInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.type")</label>
                  <div class="col-sm-8">
                    <input id="typeInfo" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.serviceType")</label>
                  <div class="col-sm-8">
                    <input id="payTypeInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.blockStatus")</label>
                  <div class="col-sm-8">
                    <input id="actStatusInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.hybridAmount")</label>
                  <div class="col-sm-8">
                    <input id="moneyHybridInfo" type="text" class="form-control form-info" value="0" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.activation")</label>
                  <div class="col-sm-8">
                    <input id="staDatetimeInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.connection")</label>
                  <div class="col-sm-8">
                    <input id="activeDatetimeInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
          <hr>

          @*TODO 2*@
          <div class="row">
            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.debtBeginPeriod")</label>
                  <div class="col-sm-8">
                    <input id="staOfCycleSubs" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.paidAmount")</label>
                  <div class="col-sm-8">
                    <input id="paymentSubs" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.remainingDebt")</label>
                  <div class="col-sm-8">
                    <input id="remainAmountSubs" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.adjustmentAmount")</label>
                  <div class="col-sm-8">
                    <input id="adjustAmountSubs" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.hotChargeTemp")</label>
                  <div class="col-sm-8">
                    <input id="hotChargeSubs" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
          <hr>

          @*TODO 3*@
          <div class="row">
            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.mainPackage")</label>
                  <div class="col-sm-8">
                    <input id="productCodeSubs" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.dataRemaining")</label>
                    <div class="col-sm-8 d-flex align-items-center">
                    <input id="dataBalanceInfo" type="text" class="form-control form-info me-2" style="flex: 1;" readonly>
                    <select id="dataUnitSelect" class="form-select" style="flex: 0.2;" onchange="convertUnit('dataBalanceInfo', this)">
                      <option value="GB" selected>GB</option>
                      <option value="MB" selected>MB</option>
                      <option value="KB">KB</option>
                    </select>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.smsRemaining")</label>
                  <div class="col-sm-8">
                    <input id="smsBalanceInfo" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.voiceRemaining")</label>
                  <div class="col-sm-8">
                    <input id="voiceBalanceInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.mainAccount")</label>
                  <div class="col-sm-8">
                    <input id="moneyBalanceInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promotionAccount")</label>
                  <div class="col-sm-8">
                    <input id="promotionBalanceInfo" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.intraNetworkAccount")</label>
                  <div class="col-sm-8">
                    <input id="promotionVtBalanceInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.otherAccount")</label>
                  <div class="col-sm-8">
                    <input id="otherBalanceInfo" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promotionCode")</label>
                  <div class="col-sm-8">
                    <input id="codeCtkm" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promoName")</label>
                  <div class="col-sm-8">
                    <input id="nameCtkm" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promoEffectDate")</label>
                  <div class="col-sm-8">
                    <input id="effectCtkm" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promoExpireDate")</label>
                  <div class="col-sm-8">
                    <input id="expireCtkm" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.export.column.promoDescription")</label>
                  <div class="col-sm-8">
                    <input id="descriptionCtkm" type="text" class="form-control form-info" value="" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          @*TODO 4*@
          <div class="row">
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="row mt-3">
                  <label class="col-sm-4 col-form-label title-section-2">@Messages("subscriber.info.apnDefault")</label>
                  <div class="col-sm-8">
                    <input id="apnDefault" type="text" class="form-control form-info" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row mt-3">
                  <label class="col-sm-2 col-form-label title-section-2">@Messages("subscriber.info.apnPrivate")</label>
                    <div class="col-sm-10 d-flex align-items-center">
                    <input id="apnPrivate" type="text" class="form-control form-info" readonly>
                    </div>
                </div>
              </div>
            </div>
          </div>

          @*TODO 5*@
          <div class="row">
            <span style="font-weight: 700;font-size: 16px;">@Messages("subscriber.modal.info.addonListTitle")</span>
            <div class="table-responsive mb-3" style="border-radius: 8px;">
              <table class="table table-striped" id="tableKttkKtmiSubs" style="width: 100%;">
                <thead style="background-color: #ff000054;">
                  <tr>
                    <th>@Messages("subscriber.modal.info.addon.index")</th>
                    <th>@Messages("subscriber.modal.info.addon.serviceName")</th>
                    @*<th>Dung lượng giới hạn (KB)</th>*@
                    <th>@Messages("subscriber.modal.info.addon.remainingVolume")</th>
                    @*<th>Dung lượng đã sử dụng (KB)</th>*@
                    @*<th>Thời gian đăng ký</th>*@
                    <th>@Messages("subscriber.modal.info.addon.expireDate")</th>
                    <th>@Messages("subscriber.modal.info.addon.detail")</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">@Messages("btnClose")</button>
      </div>
    </div>
  </div>
</div>