@import vn.m2m.common.models.forms.SearchFilterForm
@import vn.m2m.utils.SearchUtil
@(searchFilterForm:SearchFilterForm, searchFieldArray: List[String] )


<script>

    $(function () {
        $(document).on('keyup keydown keypress', function (event) {
            if (event.keyCode == 116) {
                console.log("Enter F5 pressed");
//                window.location.reload(true);

            }
            else {
//                alert("Not Enter key pressed");
            }

        });
    });

    $('#filter-add-selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        console.log("filter-add-selectpicker: "+array_list[clickedIndex]);
        if (clickedIndex < array_list.length){
            ChangeFilterValue(array_list[clickedIndex])
        }else if (clickedIndex == array_list.length){
            onAdvancedSearch(isSelected)
        }

    });

    $('.conditionOptionValue').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        if( e.target.id) {
            // console.log("conditionOptionValue: "+e.target.id+" - "+clickedIndex);
            // console.log("conditionOptionValue: "+$('.conditionOptionValue').selectpicker('val'));
            var targetIdArr = e.target.id.split("-");
            if ($('.conditionOptionValue').selectpicker('val') == "@SearchUtil.SEARCH_BETWEEN_OP_STRING"){
                showBetween("rightBetween-"+targetIdArr[targetIdArr.length-1],true)
            }else{
                showBetween("rightBetween-"+targetIdArr[targetIdArr.length-1],false)
            }
        }
    });



//    $('.datetimepicker').datetimepicker({
//        format:"DD/MM/YYYY HH:mm",
//        sideBySide:true,
//        icons: {
//            time: "fa fa-clock-o",
//            date: "fa fa-calendar",
//            up: "fa fa-chevron-up",
//            down: "fa fa-chevron-down",
//            previous: 'fa fa-chevron-left',
//            next: 'fa fa-chevron-right',
//            today: 'fa fa-screenshot',
//            clear: 'fa fa-trash',
//            close: 'fa fa-remove',
//        },
//    });

    //Init value
    var array_list=[];
    @for((item, index) <- searchFieldArray.zipWithIndex) {
        @if(index % 2 == 1) {
            array_list.push('@item');
        }
    }

    @for((item, index) <- searchFieldArray.zipWithIndex) {
        @if(item.equals("Date")) {
            $('#dateFrom'+'@searchFieldArray(index+1)').on("dp.change", function(e) {
                $(  '#dateTo'+'@searchFieldArray(index+1)'  ).data("DateTimePicker").date(e.date);
                $(  '#dateTo'+'@searchFieldArray(index+1)' ).data("DateTimePicker").minDate(e.date);
            });
        }
    }

    $().ready(function(){
        //init value for search;
        @if(searchFilterForm.getFilter != null) {
            @for(filter <- searchFilterForm.getFilter) {
                current_array_list.push('@filter');
            }
        }
        @if(searchFilterForm.isResetCondition) {
            current_array_list=[];
            for(i=0; i<array_list.length ; i++){
                current_array_list.push(array_list[i]);
            }
            $('body').resetValue();
        }
        InitValue();
//        $('.DateOption').change(); //Trigger change
    });

    function ApplyFilter(page, pageSize, isResetPage) {
        console.log("page: "+page);
        console.log("pageSize: "+pageSize);
        console.log("isResetPage: "+isResetPage);

        $('[name=page]').val(page);
        $('[name=pageSize]').val(pageSize );
        $('[name=isResetPage]').val(isResetPage );
        //$('[name=filter]').val(current_array_list );
        $('#ChooseFilter').val(current_array_list );
        console.log("ChooseFilter: "+$('#ChooseFilter').val());

        $('#search-filter-form').submit();
    }
    var applyButton = document.getElementById('ApplyFilter');

    function showAdminFilter(){
        $("#search-filter-body").show();
        $("#advanced-search-filterToolbar").show();
        $("#aShowAdminFilter").attr("onclick","hideAdminFilter()");
        $("#aShowAdminFilter2").attr("onclick","hideAdminFilter()");
        $("#aShowAdminFilter2").text(Messages("Admin.collapse"));
    }
    function hideAdminFilter(){
        $("#search-filter-body").hide();
        $("#advanced-search-filterToolbar").hide();
        $("#aShowAdminFilter").attr("onclick","showAdminFilter()");
        $("#aShowAdminFilter2").attr("onclick","showAdminFilter()");
        $("#aShowAdminFilter2").text(Messages("Admin.expande"));
    }

    //    $(document).keypress(function(event) {
    //        if (event.keyCode == 13) {
    //            event.preventDefault();
    //            applyButton.click();
    //        }
    //    });


</script>
