@import helper._
@import play.mvc.Http._
@import play.data.Form
@import vn.m2m.common.models.User
@import vn.m2m.common.models.forms.SearchConditionForm
@import vn.m2m.utils.StaticData
@import vn.m2m.utils.DateUtil
@import vn.m2m.utils.SearchUtil
@(currentUser: User,divRoot:String,conditionName:String,conditionStart: SearchConditionForm, conditionEnd: SearchConditionForm,i: Int)

<div id="@divRoot" class="search-field">

    <div class="row">

        <label class="col-sm-2 col-form-label">@Messages("filter."+conditionName)</label>

        <div class="col-sm-2" style="display: none" >
            <input name="conditionList[@i].fieldName"  value="@conditionName" class="form-control"  style="display: none">
            <input name="conditionList[@i].fieldType"  value=@SearchUtil.SEARCH_DATE_TYPE class="form-control"  style="display: none">
            <select name="conditionList[@i].compQueryOp"   class="DateOption selectpicker conditionDateOptionValue" data-style="form-control" data-menu-style="">
                <option value=@SearchUtil.SEARCH_EQUAL_OP_STRING @if(conditionStart.getCompQueryOp.equals(SearchUtil.SEARCH_EQUAL_OP_STRING)){selected} >@SearchUtil.SEARCH_EQUAL_OP_STRING</option>
                <option value=@SearchUtil.SEARCH_NOT_EQUAL_OP_STRING  @if(conditionStart.getCompQueryOp.equals(SearchUtil.SEARCH_NOT_EQUAL_OP_STRING)){selected} >@SearchUtil.SEARCH_NOT_EQUAL_OP_STRING</option>
                <option value=@SearchUtil.SEARCH_LTE_OP_STRING  @if(conditionStart.getCompQueryOp.equals(SearchUtil.SEARCH_LTE_OP_STRING)){selected} >@SearchUtil.SEARCH_LTE_OP_STRING</option>
                <option value=@SearchUtil.SEARCH_GTE_OP_STRING  @if(conditionStart.getCompQueryOp.equals(SearchUtil.SEARCH_GTE_OP_STRING)){selected} >@SearchUtil.SEARCH_GTE_OP_STRING</option>
                <option value=@SearchUtil.SEARCH_BETWEEN_OP_STRING  @if(conditionStart.getCompQueryOp.equals(SearchUtil.SEARCH_BETWEEN_OP_STRING)){selected} >@SearchUtil.SEARCH_BETWEEN_OP_STRING</option>
            </select>
        </div>

        <div class="col-sm-3" >
            <div class="form-group">
                <input id="dateFrom@conditionName" name="conditionList[@i].fieldValue" class="form-control datetimepicker" type="text" autocomplete="off" @if(conditionStart.getFieldValue !=null &&conditionStart.getFieldValue.length >0){value='@conditionStart.getFieldValue'}else{ value=''}/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input name="conditionList[@(i+1)].fieldName"  value="@conditionName" class="form-control"  style="display: none">
                <input name="conditionList[@(i+1)].compQueryOp"  value=@SearchUtil.SEARCH_LTE_OP_STRING class="form-control"  style="display: none">
                <input name="conditionList[@(i+1)].fieldType"  value=@SearchUtil.SEARCH_DATE_TYPE class="form-control"  style="display: none">
                <input id="dateTo@conditionName" name="conditionList[@(i+1)].fieldValue" class="form-control datetimepicker" type="text" autocomplete="off" @if(conditionEnd.getFieldValue !=null&&conditionEnd.getFieldValue.length >0){value='@conditionEnd.getFieldValue'}else{ value=''}/>
            </div>
        </div>

    </div>
</div>