<div class="modal fade" id="addDashboardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="theme16">
      <div class="modal-header" style="text-align: center; display: block">
        <h5 class="modal-title text-white" id="exampleModalLabel">@Messages("dashboard.add")</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-4">
              <label class="col-sm-4 col-form-label">@Messages("dashboard.name")</label>
              <div class="col-sm-8">
                <input id="nameDashboardAdd" name="name" type="text" class="form-control" maxlength="30" autocomplete="off" required>
                <br>
                <h7 class="textNote">@Messages("manage.group.org.30char")</h7>
              </div>
            </div>
            <div class="row mb-4">
              <label class="col-sm-4 col-form-label">@Messages("dashboard.content")</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="contentDashboardAdd" name="description" maxlength="100" placeholder="" rows="5"></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" onclick="processAddDashboard()">@Messages("btnSave")</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Messages("btnClose")</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>